<ion-view ><!--view-title="mLife"-->

  <ion-nav-title>
    <h2 style="line-height: 45px; font-size: 19px;" class="text-center white" open-categories="">
      <span class="brown-font bold-font">{{ newsCategoryShowing ||  lookupCategory[$state.params.cat_id] }}</span>&nbsp;<i class="light ion ion-android-arrow-dropdown"></i>
    </h2>
  </ion-nav-title>

  <ion-nav-buttons side="secondary">
    <button class="button white" ng-click="models.isShowing = !models.isShowing">
      <i class="icon" ng-class="platformSpecificClass('ion-ios-search', 'ion-ios-search', 'ion-search') "></i>
    </button>
  </ion-nav-buttons>

  <div class="bar bar-subheader bar-purple" ng-show="models.isShowing">

  <span class="item-input-inset"  style="padding: 0 !important;">
    <label class="item-input-wrapper" >
      <i class="icon ion-ios-search placeholder-icon white"></i>
      <input type="search" ng-minlength="3" style="width: 100%" ng-model="models.searchTerm" placeholder="Type to start searching">
    </label>
  </span>

    <!--<h3 ng-show="cat_name && !models.isShowing" class="text-center padding-top white">-->
      <!--&lt;!&ndash;<span>Categories </span>&ndash;&gt;-->
      <!--<span ui-sref="home.categories_posts({ cat_id : cat_parent_id }) "-->
            <!--ng-show="cat_parent_name">{{ cat_parent_name }}</span>-->
      <!--<span ng-bind="cat_name | uppercase"></span>&lt;!&ndash;' &raquo;  ' +&ndash;&gt;-->
    <!--</h3>-->
  </div>
  <ion-content overflow-scroll="true" lazy-scroll="" ng-class="{'has-subheader' : models.isShowing }">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <div class="list list-inset" style="margin: 0 !important; background-color: #d3d6db">

      <div ng-repeat="article in posts  | filter : models.searchTerm"><!-- -->
        <div ng-include="'mlife/base/post_article_tpl.html'"></div>
      </div>

      <div class="item text-center padding" style="margin-top: 200px" ng-if="posts.length" ng-hide="(posts | filter : models.searchTerm).length">
        <h2>No more articles found that match the search term  <br> " <b class="positive">{{ models.searchTerm }}</b> "</h2>
      </div>
    </div>

    <ion-infinite-scroll
      ng-if="models.more_posts_is_available"
      on-infinite="loadMore()"
      distance="50%">
    </ion-infinite-scroll>


  </ion-content>
</ion-view>
