<ion-view hide-back-button="true"><!--view-title="mLife"-->

  <ion-nav-title>
    <h2 style="line-height: 45px; font-size: 19px;" class="text-center white" open-categories="">
      <span class="brown-font bold-font">{{ newsCategoryShowing || 'Home' }}</span>&nbsp;<i class="light ion ion-android-arrow-dropdown"></i>
    </h2>
  </ion-nav-title>

  <ion-nav-buttons side="secondary">
    <button class="button white" ng-click="models.isShowing = !models.isShowing; models.searchTerm = '' ">
      <i class="icon ion-ios-search"></i>
    </button>
  </ion-nav-buttons>

  <div class="bar bar-subheader bar-purple item-input-inset" ng-show="models.isShowing">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon white"></i>
      <input type="search" ng-minlength="3" ng-model="models.searchTerm" placeholder="Type to start searching">
    </label>
  </div>
  <ion-content  class="" overflow-scroll="true" lazy-scroll="" ng-class="{'has-subheader' : models.isShowing}">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <div style="height: 200px" ng-show="sliderData.length">

      <ion-slides  options="options" slider="data.slider" >
        <ion-slide-page ng-repeat="slide in sliderData" style="background-color: rgb(103,106,111) !important; height: 100%;">
          <div class="slider_img">
            <div  ><!--ui-sref="home.select_post({ id : slide.ID })"-->
              <div class="row">
                <div class="col" style="background-image: url('{{ slide.slide_img}}');
            background-size: cover; background-position: 0 0; background-repeat: no-repeat;
             height: 190px; padding: 90px 15px 0; margin: 0 auto;">

                  <!--<span class="badge badge-positive badge-special">{{ slide.comments_count }}</span>-->
                  <!--<img class="clone" ng-src="{{ slide.slide_img }}">-->
                  <span class="article-title-slider light-font white" style="text-align: center; background-color: rgba(0, 0, 0, 0.7);"><span ng-bind-html="slide.title | limitTo : 50 | toTrusted"></span>
                    <span ng-show="slide.title.length > 50">...</span>
                <i class="icon ion-chevron-right button-small purple"></i>
                </span>
                </div>
              </div>
            </div>
          </div>
        </ion-slide-page>
      </ion-slides>
      <!--<ion-slide-box auto-play="true" does-continue="true" show-pager="false" ng-if="sliderData.length">-->
      <!--<div class="slider_img"-->
      <!--ng-repeat="slide in sliderData">-->

      <!--&lt;!&ndash; ng-if="featureArticle.image" style="-->
      <!--overflow-x: hidden;-->
      <!--background-size:cover;-->
      <!--background: url('{{ featureArticle.image }}') no-repeat center center;"&ndash;&gt;-->
      <!--<div  ui-sref="home.select_post({ id : slide.ID })" class=" " style="background-color: rgba(0, 0, 0, 0.65) !important; height: 100%;">-->
      <!--<div class="row">-->
      <!--<div class="col-40">-->
      <!--<span class="badge badge-positive badge-special">{{ slide.comments_count }}</span>-->
      <!--<img class="clone" ng-src="{{ slide.slide_img }}">-->
      <!--</div>-->
      <!--<div class="col-60 padding" style="margin-top: 15px">-->
      <!--<p class="uppercase grey">{{ slide.post_date | amDateFormat:'MMMM DD, YYYY' }}</p>-->
      <!--<span class="article-title-slider light-font white">{{ slide.title}}-->
      <!--<i class="icon ion-chevron-right button-small purple"></i>-->
      <!--</span>-->
      <!--</div>-->
      <!--</div>-->


      <!--</div>-->

      <!--</div>-->
      <!--</ion-slide-box>-->

    </div>


    <div class="list list-inset" style="margin: 0 !important; background-color: #d3d6db">

      <div ng-repeat="article in posts  | filter : models.searchTerm"><!-- -->
        <div ng-include="'mlife/base/post_article_tpl.html'"></div>
      </div>

      <div class="item text-center padding" style="margin-top: 200px" ng-if="posts.length" ng-hide="(posts | filter : models.searchTerm).length">
        <h2>No more articles found that match the search term  <br> " <b class="positive">{{ models.searchTerm }}</b> "</h2>
      </div>
    </div>



    <ion-infinite-scroll
      ng-if="models.more_posts_is_available  && !(models.isShowing)"
      on-infinite="loadMore()"
      distance="60%">
    </ion-infinite-scroll>

    <!--<div class="row padding-top">-->
    <!--<h3 class="col-offset-50">Load More Entries...</h3>-->
    <!--</div>-->
  </ion-content>
</ion-view>
