<ion-modal-view>
  <style>
    .cropArea {
      background: #E4E4E4;
      overflow: hidden;
      width:100%;
      height:300px;
    }
    .reduced_button{
      line-height: 25px;
      min-height: 30px;
    }
  </style>
  <ion-header-bar class="bar-purple">


  <div class="buttons">
      <button class="button white" ng-click="closeWhatsOnYourMindModal()">Cancel</button>
    </div>
    <h1 class="title white">
      <span class="white">Employee Profile</span>
    </h1>
    <div class="buttons">
    </div>


  </ion-header-bar>


  <ion-content>
    <div ng-include="'mlife/profile/profile_top_section.html'"></div>

    <div ng-show="tabToShow.details">
      <div ng-include=" 'mlife/profile/profile_details.html' "></div>
    </div>

    <div ng-show="tabToShow.sales">
      <div ng-include=" 'mlife/profile/profile_sales_other.html' "></div>
    </div>

    <div ng-show="tabToShow.favorites">
      <div ng-include=" 'mlife/profile/profile_posts.html' "></div>
    </div>


  </ion-content>




</ion-modal-view>

