<ion-popover-view>
  <style>
    .popover {
      height: 280px;
    }
  </style>
    <ion-header-bar>
        <h1 class="title">{{ name }}</h1>
    </ion-header-bar>
    <ion-content overflow-scroll="none" style="overflow-y: hidden !important;">
    <img ng-src="{{ image }}" style="width: 100%; height: auto">
    </ion-content>
</ion-popover-view>
