<ion-view hide-back-button="false">
  <!--<ion-nav-buttons side="left">-->
    <!--<button class="button back-button buttons button-clear header-item" ng-click="goBack()">-->
      <!--<i class="icon ion-ios-arrow-back"> Back</i>-->
    <!--</button>-->
  <!--</ion-nav-buttons>-->

  <ion-nav-buttons side="secondary">
    <button class="button" ng-click="models.isShowing = !models.isShowing; models.searchTerm = '' ">
      <i class="icon ion-ios-search white"></i><!--ng-class="platformSpecificClass('ion-ios-search', 'ion-android-search', 'ion-search') "-->
    </button>
  </ion-nav-buttons>
    <ion-content>
        <div ng-include="'mlife/profile/profile_top_section.html'"></div>

        <div ng-show="tabToShow.details">
            <div ng-include=" 'mlife/profile/profile_details.html' "></div>
        </div>

        <div ng-show="tabToShow.sales">
            <div ng-include=" 'mlife/profile/profile_sales_other.html' "></div>
        </div>

        <div ng-show="tabToShow.favorites">
            <div ng-include=" 'mlife/profile/profile_posts.html' "></div>
        </div>


    </ion-content>
</ion-view>
