<div class="content" ng-controller="ProfileSalesCtrl"><!--animate-fade-slide-in-->
    <div class="card" style="transition-delay: 0.3s;" ng-repeat="sale in sales">
        <div class="item item-text-wrap waves-effect waves-block waves-dark">
            Closed a ${{sale.salesValue}} deal with {{ sale.accountName }} on
          <span ng-repeat="product in sale.products">{{product + " "}}
            <span ng-show="sale.products.length > 1">and</span>
          </span> for {{ sale.salesTerm }}months
            <div class="card-footer text-right">
                <i class="icon ion-chatboxes positive"></i> {{ sale.commentCount}}
                <i class="icon ion-heart assertive"></i> {{ sale.likeCount }}
                <div class="pull-left">
                    <i class="icon ion-android-people"></i> {{ sale.salesCollaborators.length}}
                </div>
            </div>
        </div>
    </div>
    <!--<div class="card" style="transition-delay: 0.32s;">-->
        <!--<div class="item item-text-wrap waves-effect waves-block waves-dark">-->
            <!--Finally sealed a deal with Amazon! Yay!-->
            <!--<a class="image"><img src="img/business-deal.jpg">-->
            <!--</a>-->
            <!--<a class="image"><img src="img/closing-sales-deals.jpg">-->
            <!--</a>-->
            <!--<a class="image"><img src="img/handshake-e1400131432409.jpg">-->
            <!--</a>-->
            <!--<div class="card-footer text-right">-->
                <!--<i class="icon ion-chatboxes positive"></i> 2-->
                <!--<i class="icon ion-heart assertive"></i> 4-->
                <!--<div class="pull-left">-->
                    <!--<i class="icon ion-clock"></i> 3 hrs ago-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>
