        <div class="list" ng-controller="ProfileDetailCtrl" style=" padding-bottom:1px; min-height:90%; position:relative"><!--animate-fade-slide-in-right-->
            <!--<a ui-sref="home.friends" class="item item-avatar item-icon-right">
                <img src="img/sansa.jpg">
                <h2>Sansa Stark</h2>
                <p>&amp; Joffrey <strike>sitting</strike> sat in a tree</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>-->
            <!--$scope.selected_employee = empData;{-->
            <!--"active": "true",-->
            <!--"title": "Executive Assistant-US",-->
            <!--"manager": "Jorn Lyseggen",-->
            <!--"errorCode": "200",-->
            <!--"email": "natasha.nissar@meltwater.com",-->
            <!--"salesOffice": "Office of the CEO San Francisco",-->
            <!--"superArea": null,-->
            <!--"firstName": "Natasha",-->
            <!--"lastName": "Nissar",-->
            <!--"phone": null,-->
            <!--"area": "CentralOps",-->
            <!--"errorMessage": "",-->
            <!--"skype": "tash.nissar",-->
            <!--"twitter": null,-->
            <!--"linkedin": null-->
            <!--}-->
            <a class="item" ng-click="sendMail(selected_employee.email, 'mLife')">
                <h2 class="">Email address</h2>
                <p class="bold">{{selected_employee.email || '-'}}</p>
            </a>

            <!--<a class="item">-->
            <!--<h2>Date of hire</h2>-->
            <!--<p class="bold">-</p>-->
            <!--</a>-->

            <a class="item"  ng-click="selectOfficeTab(selected_employee.salesOfficeId)">
              <!--ui-sref="home.territories.office({ area : selected_employee.salesOfficeId })"-->
                <h2>Office</h2>
                <p >{{ selected_employee.salesOffice || '-'}}</p>
                <p>{{ selected_employee.area || '-'}}</p>
            </a>

            <a class="item">
                <h2>Role</h2>
                <p class="bold">{{ selected_employee.title}}</p>
                <p>Manager : {{ selected_employee.manager || '-'}}</p>
            </a>


<!--
          <p ng-click="checkForUpdate()" style="position:absolute; bottom:0;text-align:center; width:100%;height:20px;">mLife &copy;{{thisyear}}. V{{appVersion}}.{{appBuild}}</p>
-->

            <!--<a class="item">-->
            <!--<h2>Achievements</h2>-->
            <!--<p>Top 10 Seller in 2015</p>-->
            <!--</a>-->

            <!--<a class="item">-->
            <!--<h2>Fun Facts</h2>-->
            <!--<p>Likes listening to music and reading</p>-->
            <!--</a>-->
            <!--</div>-->


            <!--<div class="full-height">-->
            <!--<ion-nav-view name="sub-profile-view"></ion-nav-view>-->
            <!--</div>-->
        </div>
