
<div>
        <!--Hero Section-->
        <div class="hero" style="height: 150px; background-image: url( 'img/prof_bg.jpg' )">
            <div class="content">
                <div class="avatar" style="border-radius: 50px; width : 84px; height : 90px; background-size: cover; background-image: url({{ selected_employee.userImageLink ||'img/user-shape.png'}}); margin: 0 auto" name="{{ selected_employee.firstName + ' ' +selected_employee.lastName }}" profile-image="{{ selected_employee.userImageLink ||'img/user-shape.png'}}"></div>
                <h3 ng-if="selected_employee.firstName"><a class="light">{{ (selected_employee.firstName + ' ' +selected_employee.lastName) || "Employee Profile"}}</a>
                </h3>
                <!--<h4>casvanadel</h4>-->
            </div>
        </div>


        <!--Tabs Section-->
        <div class="tabs tabs-dark tabs-icon-top" style="position: relative">
            <a ng-click="showTab('details')" ng-class="{'active' : tabToShow.details}" class="tab-item">
                <i class="icon ion-clipboard"></i> Bio
            </a>
            <a ng-show="selected_employee.salesPerson == 'true'" ng-click="showTab('sales')" ng-class="{'active' : tabToShow.sales}" class="tab-item">
                <i class="icon ion-stats-bars"></i> Sales
            </a>
            <a ng-show="$localStorage.user.data.user_email == $state.params.email" ng-click="showTab('favorites')" ng-class="{'active' : tabToShow.favorites}" class="tab-item">
                <i class="icon ion-images"></i> Favorites
            </a>
        </div>
</div>
