<div class="list list-inset" style="margin: 0 !important; background-color: #ffffff" ng-controller="ProfileFavoritesCtrl">
<!--d3d6db-->
  <div ng-repeat="article in favPosts"><!-- -->
    <div ng-include="'mlife/base/post_article_tpl.html'"></div>
  </div>
  <ion-infinite-scroll
    ng-if="models.more_posts_is_available"
    on-infinite="loadMore()"
    distance="10%">
  </ion-infinite-scroll>


  <div class="item text-center padding" style="margin-top: 200px" ng-if="!(favPosts.length)">
    <h2>No favourite articles available</h2>
  </div>
</div>
