<ion-tabs class="tabs-positive tabs-icon-top base-tabs">

  <!-- NEWS TAB -->
  <ion-tab title="News" href="#/tab/home/0/posts" icon-on="ion-ios-compose" icon-off="ion-ios-compose-outline" on-select="increasePostPageViewCount()">
    <ion-nav-view name="home-tab" ></ion-nav-view>
  </ion-tab>



  <!-- TODAY PAGE -->
  <ion-tab title="Today" href="#/tab/today/main" icon-on="ion-ios-people" icon-off="ion-ios-people-outline" class=" " on-select="increaseTodayPageViewCount()">
    <ion-nav-view name="today-tab"></ion-nav-view>
  </ion-tab>



  <!-- OFFICES AND PEOPLE -->
  <ion-tab title="Offices" href="#/tab/territories/superarea" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" on-select="increaseOfficesPageViewCount()">
    <ion-nav-view class="" name="territories-tab"></ion-nav-view>
  </ion-tab>



  <!-- PROFILE PAGE -->
  <ion-tab title="Profile" ui-sref="home.profile({email : $localStorage.user.data.user_email})" class="" icon-on="ion-ios-contact" icon-off="ion-ios-contact-outline" on-select="increaseProfilePageViewCount()">
    <ion-nav-view name="profile-tab"></ion-nav-view>
  </ion-tab>



  <!-- KICKOFF TAB -->
  <ion-tab title="Kick Off" ui-sref="home.kickoff.main" class="" icon-on="ion-flash" icon-off="ion-flash-off" on-select="increaseKickoffPageViewCount()">
    <ion-nav-view name="kickoff-tab"></ion-nav-view>
  </ion-tab>

  <!--<ion-tab-->
  <!--title="Tab!"-->
  <!--icon="my-icon"-->
  <!--href="#/tab/tab-link"-->
  <!--on-select="onTabSelected()"-->
  <!--on-deselect="onTabDeselected()">-->
  <!--</ion-tab>-->

</ion-tabs>
