input.wpcf7-form-control.wpcf7-text {
    margin: -21px auto 1px !important;
    display: block;
    border: none;
    padding: 10px 0;
    border-bottom: solid 1px #4c4d4f;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #4c4d4f 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #4c4d4f 4%);
    /*background-position: -200px 0;*/
    /*background-size: 300px 100%;*/
    background-repeat: no-repeat;
    color: #ffbc45;
    padding: 15px 0 1px;
    /*border-bottom: solid 1px #1abc9c;*/
}


input.wpcf7-form-control.wpcf7-text:focus {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #28bbbb 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #28bbbb 4%);
}

.popmake .wpcf7-form-control.wpcf7-text:focus{
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #28bbbb 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #28bbbb 4%);
}

