<div class="vc_row">
    <div class="vc_col-sm-12 vc_col-md-3">
        <img src="/wp-content/uploads/2016/06/oi_img.png" class="center-block text-center" style="margin: 30px; width: 60%;">
    </div>
    <div class="vc_col-sm-12 vc_col-md-9">
        <div class="vc_row">
            <div class="vc_col-sm-12 vc_col-md-3">
                <h4>Company</h4>
                <ul class="list-unstyled">
                    <li><a target="_blank" href="http://www.meltwater.com/products/monitor/" style="color: #ffffff;">Monitor</a></li>
                    <li><a target="_blank" href="http://www.meltwater.com/products/discover/" style="color: #ffffff;">Discover</a></li>
                    <li><a target="_blank" href="http://www.meltwater.com/products/engage/" style="color: #ffffff;">Engage</a></li>
                    <li><a target="_blank" href="http://www.meltwater.com/products/analyze/" style="color: #ffffff;">Analyze</a></li>
                </ul>
            </div>
            <div class="vc_col-sm-12 vc_col-md-3">
                <h4>Discover our Products</h4>
                <ul class="list-unstyled">
                    <li><a style="color: #ffffff;" target="_blank" href="http://www.meltwater.com/about/management-team/">Management Team</a></li>
                    <li><a style="color: #ffffff;" target="_blank" href="http://www.meltwater.com/about/">About Meltwater</a></li>
                    <li><a style="color: #ffffff;" target="_blank" href="http://www.meltwater.com/about/vision/">Vision</a></li>
                    <li><a style="color: #ffffff;" target="_blank" href="http://www.meltwater.com/about/company-history/">History</a></li>
                    <li><a style="color: #ffffff;" target="_blank" href="http://www.meltwater.com/about/people/">Culture</a></li>
                    <li><a style="color: #ffffff;" target="_blank" href="http://www.meltwater.com/about/community/">Community</a></li>
                    <li><a style="color: #ffffff;" target="_blank" href="http://www.meltwater.com/about/awards/">Awards</a></li>
                </ul>
            </div>
            <div class="vc_col-sm-12 vc_col-md-3">
                <h4>Careers</h4>
                <ul class="list-unstyled">
                    <li><a style="color: #ffffff;" target="_blank" href="http://www.meltwater.com/about/careers/">Meltwater Careers</a></li>
                    <li><a style="color: #ffffff;" target="_blank" href="http://www.meltwater.com/about/careers/benefits/">Benefits</a></li>
                    <li><a style="color: #ffffff;" target="_blank" href="http://www.meltwater.com/about/people/">Our People Are Our Business</a></li>
                    <li><a style="color: #ffffff;" target="_blank" href="http://www.meltwater.com/about/careers/opportunities/">Opportunities</a></li>
                </ul>
            </div>
            <div class="vc_col-sm-12 vc_col-md-3">
                <h4>Support & Contacts</h4>
                <ul class="list-unstyled">
                    <li><a style="color: #ffffff;" target="_blank" href="http://www.meltwater.com/support/">Support</a></li>
                    <li><a style="color: #ffffff;" target="_blank" href="http://www.meltwater.com/request-a-demo/">Request a Demo</a></li>
                    <li><a style="color: #ffffff;" target="_blank" href="http://www.meltwater.com/request-pricing">Request Pricing</a></li>
                    <li><a style="color: #ffffff;" target="_blank" href="http://www.meltwater.com/about/our-offices/">Our Offices</a></li>
                    <li><a style="color: #ffffff;" target="_blank" href="http://www.meltwater.com/contact/">Contact</a></li>
                </ul>

            </div>
        </div>
    </div>
</div>

<div class="footer_copy" style="margin: 15px 15px 0; padding: 25px 80px 0">
    <div class="vc_row">
        <div class="vc_col-sm-12 vc_col-md-6">
            <h5 class="text-left">Need any help? <span style="color: #28bbbb; ">Contact us Now!</span></h5>
            <ul class="soc">
                <li><a class="social_icon soc-google" href="#"></a></li>
                <li><a class="social_icon soc-linkedin" href="#"></a></li>
                <li><a class="social_icon soc-facebook" href="#"></a></li>
                <li><a class="social_icon soc-twitter" href="#"></a></li>
                <li><a class="social_icon soc-instagram" href="#"></a></li>
                <li><a class="social_icon soc-pinterest soc-icon-last" href="#"></a></li>
        </ul>
        </div>
        <div class="vc_col-sm-12 vc_col-md-6">
            <h5 class="text-right pull-right" style="margin-right: 10px">Sign up for our <span style="color: #28bbbb">Newsletter</span>!</h5>
            <div class="clearfix"></div>
            <div>
                <div class="input-group pull-right">
                    <input type="text" class="form-control" style="display: inline; font-size: 14px; line-height: 24px;" placeholder="Enter your Email Address">
                      <span class="input-group-btn">
                        <button class="btn btn-warning vc_btn3 vc_btn3-color-orange" style="margin-left: -5px; border-radius: 0 5px 5px 0; font-size: 14px; line-height: 24px;" type="button">Subscribe <i class="fa fa-arrow-circle-o-right"></i></button>
                      </span>
                </div><!-- /input-group -->
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
