<ion-view hide-back-button="true"><!--view-title="mLife"-->
  <ion-nav-bar class="bar-dark nav-title-slide-ios7" nav-bar-transition="false">
    <ion-nav-title >
      <img  class="title_logo" nav-transition="none" ui-sref="home.posts({cat_id : 0})" src="img/mlifelogo_title_bar.png">
    </ion-nav-title>
    <ion-nav-back-button></ion-nav-back-button>

    <ion-nav-buttons side="right">
      <button class="button" ng-if="$localStorage.notifications.length"   nav-transition="none">
        <i class="icon " ng-class="platformSpecificClass('ion-ios-bell', 'ion-android-notifications', 'ion-ios-bell') "></i>
        <span notification-alerts="" class="badge badge-assertive" style="top : -27px !important;">{{ $localStorage.notifications.length }}</span>
      </button>
      <button class="button" ng-if="!($localStorage.notifications.length)" notification-alerts="" nav-transition="none">
        <i class="icon " ng-class="platformSpecificClass('ion-ios-bell-outline', 'ion-android-notifications-none', 'ion-ios-bell-outline') "></i>
      </button>
    </ion-nav-buttons>

  </ion-nav-bar>
  <div class="bar bar-subheader bar-purple item-input-inset" ng-show="models.isShowing">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" ng-minlength="3" ng-model="models.searchTerm" placeholder="Type to start searching">
    </label>
  </div>

  <ion-content class="" overflow-scroll="true" lazy-scroll="" ng-class="{'has-subheader' : models.isShowing}">

    <div class="list">
      <div class="item item-divider">
        Meltwater Users  <span class="badge badge-purple">{{ users.length }}</span>
      </div>
      <div class="item item-button-right" ui-sref="home.profile({email : user.user_email})" ng-repeat="user in users | filter : models.searchTerm |limitTo : models.userShowLimit">
        {{ user.display_name }}
        <p class="text-selectable"><small>{{ user.push_id }}</small></p>
        <button class="button button-positive" ng-show="user.push_id || user.user_email" ><!--ng-click="tagUser(user)"-->
          <i class="icon ion-eye"></i>
        </button>
      </div>

    </div>
    <ion-infinite-scroll
            ng-if="models.more_users_is_available  && !(models.isShowing)"
            on-infinite="loadMore()"
            distance="10%">
    </ion-infinite-scroll>

  </ion-content>
