<ion-view hide-back-button="true"><!--view-title="mLife"-->
  <ion-nav-buttons side="left" >
    <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
  </ion-nav-buttons>

  <ion-content class="" overflow-scroll="true" lazy-scroll="" ng-class="{'has-subheader' : models.isShowing}">

    <div class="row text-selectable" data-tap-disabled="true">
      deviceToken : {{ deviceToken }}

    </div>
    <br>

    <div class="row text-selectable" data-tap-disabled="true">
      deviceToken Saved : {{ deviceTokenSaved || 'empty'}}
    </div>

    <br>
    <button class="button button-balanced" ng-click="testPush()">Test Push</button>
    <button class="button button-royal" ng-click="save()">Save Token</button>

    <br>
    <pre class="text-selectable" data-tap-disabled="true" ng-show="test.success_status || test.error_status">
        success_status : {{ test.success_status | json }}
        error_status : {{ test.error_status | json }}
      </pre>
    <br>

    <pre class="text-selectable" data-tap-disabled="true">
      notification : {{ test.notification | json }}
    </pre>

    <pre class="text-selectable" data-tap-disabled="true">
      firebase data : {{ data | json }}
    </pre>


  </ion-content>
