<ion-popover-view>

  <style>
    .popover {
      height: 225px;
    }
  </style>
  <ion-content id="todayPage">
    <ion-list>
      <ion-item href="" class="text-center" ng-click="changeSalesAreaShowing('')">
        <h2><a ng-class="{'active' : saleAreaShowing == '' }" class="brown-font bold-font text-center">All</a></h2></ion-item>
      <ion-item href="" class="text-center" ng-click="changeSalesAreaShowing('Americas')">
        <h2><a ng-class="{'active' : saleAreaShowing == 'Americas' }" class="brown-font bold-font text-center">Americas</a></h2></ion-item>
      <ion-item href="" class="text-center" ng-click="changeSalesAreaShowing('APAC')">
        <h2><a ng-class="{'active' : saleAreaShowing == 'APAC' }" class="brown-font bold-font text-center">APAC</a></h2></ion-item>
      <ion-item href=""  class="text-center" ng-click="changeSalesAreaShowing('EMEA')">
        <h2><a ng-class="{'active' : saleAreaShowing == 'EMEA' }" class="brown-font bold-font text-center">EMEA</a></h2></ion-item>
    </ion-list>
  </ion-content>
</ion-popover-view>
