<ion-view>


  <!--<div class="bar bar-subheader bar-positive">-->

    <!--<h2 class="text-center white">-->
      <!--<span>Today Page</span>-->
    <!--</h2>-->
  <!--</div>-->


  <ion-content ng-cloak="" ng-show="selected_sale.todayFeedItemId"><!--class="has-subheader"-->

      <h2 class="item-divider article-title no-margin today-section-header selected_sale" style="text-align : center; font-size: 20px !important;">Sale Details</h2>
      <a class="item  item-body no-margin sale_color_white"  style="">
        <span class="item-note">
          <small ng-if="selected_sale.date"><br>Date : {{ selected_sale.date }}</small>
          <small><br>Time : {{ selected_sale.time }}</small>
        </span>
        <h2 class="no-margin">Account: <strong>{{ selected_sale.accountName }}</strong></h2>
        <h3 class="no-margin">Product(s): <span ng-repeat="product in selected_sale.products">
                      <strong>{{ product }}</strong>
                        <span ng-show="selected_sale.products.length > 1 && $index == selected_sale.products.length - 1 && $last">,&nbsp;</span>
                  </span>
          <img src="img/helmet.png" style="position: absolute; max-width: 30px; right: 30px; top: 70px;"
               class="sale_mark helmet" ng-repeat="product in selected_sale.products" ng-show="product == 'Fairhair'">
        </h3>

        <h3 class="no-margin">Sale : <strong>US$ {{ selected_sale.salesValue  }}</strong> for <strong>{{ selected_sale.salesTerm }}months</strong></h3>

        <div class="list" style="margin-top: 1px">
          <p class="no-margin item-divider today-section-header selected_sale" style="padding-left: 15px; background-color: #f0d4ec">Collaborators</p>
          <div ng-repeat="person in selected_sale.salesCollaborators">
            <div class="item item-avatar-right item-body" >
              <img ng-src="{{ person.userImageLink }}" name="{{person.userName}}" profile-image="{{ person.userImageLink }}">

              <h2 show-employee-profile="" email="{{ person.userEmail }}" class="no-margin"><strong>{{ person.userName }}</strong></h2>

              <div show-employee-profile="" email="{{ person.userEmail }}" class="no-margin">Sales Office : <strong>{{ person.salesOffice }}</strong></div>
              <div show-employee-profile="" email="{{ person.userEmail }}" class="no-margin">Division : <strong>{{ person.division }}</strong></div>
              <!--<div ui-sref="tabs.profile({email : person.userEmail, image : person.userImageLink})" class="no-margin">First Deal : <strong ng-show="person.firstDeal == 'false'">No</strong> <strong >Yes</strong></div>-->

              <img src="img/star.png" class="sale_mark star" style="position: absolute; max-width: 25px; right: 24px; top: 60px;"
                   ng-hide="person.firstDeal == 'false'">

            </div>
          </div>
          <p class="row" ><!--style="padding : 20px 0 0 0; border-top: 1px solid #d3d6db;"-->
            <span like-sale="selected_sale" class="like button button-small col-50 subdued text-center no-border-active"></span>
            <span class="button  button-small col-50 subdued text-center no-border-active"

                  nav-transition="none" ><!--quick-comment="article"-->
              <i class="icon ion-chatbubbles"></i>&nbsp;
              <span ng-show="selected_sale.commentCount != 0">{{ selected_sale.commentCount || '' }}</span> Comment<span ng-show="selected_sale.commentCount > 1">s</span></span>
          </p>
        </div>

      </a>

    <div class="list padding">
      <h5 class="header" id="commentHeader" >Comments</h5>

      <!--<pre ng-if="error">error : {{ error | json }}</pre>-->

      <div ng-show="loadingComments" class="text-center">
        <ion-spinner class="spinner-positive text-center"></ion-spinner>
      </div>

      <ion-scroll delegate-handle="comments" style="height: 1px;"></ion-scroll>

      <!--childComment:null-->
      <!--likes:Array[2]-->
      <!--parentCommentId:null-->
      <!--userId:"1392"-->

      <div ng-if="selected_sale.comments.length" ng-hide="loadingComments">
        <div class="comment_div" ng-repeat="comment in selected_sale.comments" style="margin-top: 1px">
          <div  class="item item-divider  ion-chatbubbles" ng-class="{'purple-bg' : edittingComment.commentId == comment.commentId}">
            {{comment.username }}
            <span class="item-note">
                {{ comment.createdate }}
             </span>
          </div>

          <span class="item item-text-wrap " emojify-comment=""
                ng-class="{'purple-border' : edittingComment.commentId == comment.commentId}" >
            {{ comment.text }}
          </span>
        </div>



      </div>


      <h5 class="purple-bg text-center" ng-if="!(selected_sale.comments.length)" ng-hide="loadingComments">
        <span class="padding white">No comments under this sale. Be the first!</span>
      </h5>


    </div>

    <!--comment box area-->
    <!--<form ng-submit="postComment()" id="commentForm">-->
      <!--<div class="list padding">-->
        <!--<label class="item item-input item-stacked-label " ng-class="{'purple-border' : edittingComment.commentId > 0}">-->
          <!--<span ng-if="edittingComment.commentId > 0" class="input-label">Edit comment - -->
            <!--<small class="purple" emojify-comment="">{{ edittingComment.comment_content }}</small>-->
            <!--<small class="purple" ng-show="edittingComment.comment_content.length > 50">...</small>-->
          <!--</span>-->
          <!--<textarea  ng-disabled="postingComment" id="comment_area" rows="5"-->
                     <!--placeholder="Post a comment"-->
                     <!--at-in-comment=""-->
                     <!--people-in-mentions="peopleInMentions"-->
                     <!--at-push-ids="atPushIds"-->
                     <!--ng-model="comment.comment">-->

        <!--</textarea>-->
        <!--</label>-->

        <!--<div class="">-->
          <!--<button ng-disabled="postingComment" ng-click="postComment()"-->
                  <!--class="button button-block " ng-class="{true : 'button-energized', false : 'button-positive'}[edittingComment.commentId > 0]">-->
            <!--<span ng-hide="postingComment">Comment</span>-->
            <!--<span ng-show="postingComment">Processing...</span>-->
          <!--</button>-->
        <!--</div>-->
      <!--</div>-->
    <!--</form>-->



  </ion-content>
  <ion-footer-bar keyboard-attach align-title="left" class="bar-white footerbar">
    <!--<input type="text" >-->
    <input type="text"  class="reg-font input-in-footer" placeholder="Write a comment..."
           ng-model="comment.comment"
           at-in-comment=""
           people-in-mentions="peopleInMentions"
           at-push-ids="atPushIds"/><!--autogrow max-lines="3"-->
    <button class="pull-right button no-border" ng-class="{'purple bold-font' : comment.comment.length > 0}" style="min-height: 27px; line-height: 27px; top: 0; bottom: 0; font-size: 15px" ng-click="postComment()" ng-disabled="comment.comment.length < 1">
      <!--<i class="icon ion-android-send"></i> -->
      <span ng-hide="postingComment">Post</span>
      <span ng-show="postingComment"><ion-spinner class="spinner-purple"></ion-spinner></span>
    </button>
  </ion-footer-bar>
</ion-view>
