<ion-view hide-back-button="false" view-title=" "><!--view-title="mLife" hide-nav-bar="true"-->

    <ion-nav-title>
      <h2 style="line-height: 45px; font-size: 19px;" class="text-center white" ng-click="openPopover($event)"  ng-init="changeSalesAreaShowing('')">
        <span class="brown-font bold-font">{{ saleAreaShowing || 'All' }}</span>&nbsp;<i class="light ion ion-android-arrow-dropdown"></i>
      </h2>
    </ion-nav-title>

    <ion-nav-buttons side="secondary">
      <button class="button white" ng-click="models.isShowing = !models.isShowing; models.searchTerm = '' ">
        <i class="icon ion-ios-search"></i>
      </button>
    </ion-nav-buttons>

  <div class="bar bar-subheader bar-purple" style="" ng-show="models.isShowing"><!--top: 30px !important;-->
    <div class=" item-input-inset" style="width: 100%">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon white"></i>
        <input type="search" ng-minlength="3" ng-model="models.searchTerm" placeholder="Type to start searching">
      </label>
    </div>
  </div>

  <ion-content class=" center" style="background-color: #eaeaea; " ng-class="{'has-subheader' : models.isShowing }"><!--top: 74px !important;-->
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <div class="row" ng-hide="todayData.companyAtAGlance">
      <div class="col col-center">
        <div  class="text-center">
          <ion-spinner class="spinner-purple text-center"></ion-spinner>
        </div>
      </div>
    </div>


    <!--
    ***COMPANY AT A GLANCE
    -->
    <div class="list no-padding" ng-show="todayData.companyAtAGlance" style="  margin-bottom: 0 !important;">
      <!--<h2 class="item-divider  no-margin text-center today-section-header"-->
      <!--&gt;-->
      <!--Company At A Glance</h2>-->
      <!--<div class="bar-positive areaShowButtons" style="background-color: #28bbbb;">&lt;!&ndash;&ndash;&gt;-->
      <!--<div class="row">-->
      <!--<div class="col text-center button button-positive" ng-class="{'active' : saleAreaShowing == 'all'}" ng-click="changeSalesAreaShowing('all')">All</div>-->
      <!--<div class="col text-center button button-positive" ng-class="{'active' : saleAreaShowing == 'Amer'}" ng-click="changeSalesAreaShowing('Amer')">Amer.</div>-->
      <!--<div class="col text-center button button-positive " ng-class="{'active' : saleAreaShowing == 'APAC'}" ng-click="changeSalesAreaShowing('APAC')">APAC</div>-->
      <!--<div class="col text-center button button-positive" ng-class="{'active' : saleAreaShowing == 'EMEA'}"  ng-click="changeSalesAreaShowing('EMEA')">EMEA</div>-->
      <!--</div>-->
      <!--</div>-->
    </div>
    <div class="row" style="margin-top: 0 !important;" ng-show="todayData.companyAtAGlance">

      <div class="col no-padding col-33 text-center  at-a-glance">
        <h2 class="col-center mw-black">{{ todayData.totalSales || 0}}</h2>
        <small class="mw-black">Total Sales</small>
      </div>
      <div class="col no-padding col-33 text-center  at-a-glance">
        <h2 class="col-center mw-yellow">{{ todayData.trialNumber || 0 }}</h2><small class="mw-yellow">Trials</small>
      </div>
      <div class="col no-padding col-33 text-center  at-a-glance">
        <h2 class="col-center mw-teal">{{ todayData.dealNumber || 0}}</h2><small class="mw-teal">Deals</small>
      </div>

      <!--<div class="col no-padding col-50 text-center" style="height: 200px">
          <div class="calm-100-bg" style="height: 50%">
              <div class="col no-padding text-center" style="margin: auto 0;">
                  <h2 class="" style="line-height : 70px; margin: auto 0;">{{ todayData.companyAtAGlance.trialNumber }}</h2><small style="color: black">Trials</small>
              </div>
          </div>
          <div class="energized-100-bg" style="height: 50%">
              <div class="col no-padding text-center"  >
                  <h2 class="" style="line-height : 70px; margin: auto 0;">{{ todayData.companyAtAGlance.dealNumber }}</h2><small>Deals</small>
              </div>
          </div>
      </div>-->

    </div>

    <!--
    ***JUST HAPPENED
    -->
    <div class="list" ng-show="todayData.justHappned" style="padding-top: 0">
      <!--
      ***SALES
      -->
      <!--<h2 class="item-divider no-margin text-center today-section-header center"-->
      <!--style="background-color: #ffbc45;">Sales</h2>-->

      <div on-swipe-left="openSaleOnSwipeRight($index)"  check-children-height=""
           ng-init="checkHeightAgain($event, {height : 0})"
           class="item item-avatar item-body today-item sale_color row"
           ng-repeat="saleItem in todayData.sales
               | filter : {superareaName : saleAreaShowing}
               | filter : models.searchTerm
               | limitTo : model.salesShowLimit"
           style="padding-bottom: 0; padding-top: 4px; width: auto;">

        <div class="col-20">
          <!--Profile Picture/Avatar : Show only one profile picture-->
          <img class="profile_pic" ng-src="{{ person.userImageLink }}" name="{{person.userName}}" profile-image="{{ person.userImageLink }}"
               ng-repeat="person in saleItem.salesCollaborators">

          <!--First Deal Star-->
          <img src="img/star.png" class="sale_mark star" ng-show="checkIfItIsAnyonesFirstDeal(saleItem.salesCollaborators)"><!--person.firstDeal != 'false'-->

          <!--Show if there's FairHair Product included-->
          <img src="img/helmet.png" class="sale_mark helmet" ng-repeat="product in saleItem.products" ng-show="product == 'Fairhair'">
          <img src="img/collab.png" class="sale_mark collab"  ng-show="saleItem.salesCollaborators.length > 1">

        </div>

        <div class="col-80">
          <!--Deal Collaborators and Office-->
          <h2 class="no-margin" style="line-height: 20px">

            <!--Name of the Collaborators-->
            <span ng-repeat-start="person in saleItem.salesCollaborators" show-employee-profile="" email="{{ person.userEmail }}">
            <strong>{{ person.userName }}</strong>&nbsp;<span>({{person.salesOffice}})</span>
          </span>

            <!--Add & if they are more than 1-->
            <span ng-repeat-end="" ng-show="saleItem.salesCollaborators.length > 1 && saleItem.salesCollaborators.length != $index + 1"> & </span>

          </h2>

          <!--Name of the Account/Customer-->
          <p class="no-margin" ui-sref="home.today.select_sale({index : $index})">{{ saleItem.accountName }}</p>

          <!--Write names of the products in the deal-->
          <p class="no-margin" ui-sref="home.today.select_sale({index : $index})" >
            <span ng-repeat-start="product in saleItem.products">{{ product }}</span>
            <span  ng-show="saleItem.products.length > 1 && saleItem.products.length != $index + 1"> & </span>
            <span ng-repeat-end="" ng-show="saleItem.products.length == $index + 1"> - US$ {{ saleItem.salesValue  }}</span>
            <span ng-if="saleItem.date"><br>Date : {{ saleItem.date }}</span>
            <span><br>Time : {{ saleItem.time }}</span>

          </p>


          <!--Like and comment button-->
          <p class="no-margin row" ><!--style="padding : 20px 0 0 0; border-top: 1px solid #d3d6db;"-->
            <span like-sale="saleItem" class="like button button-small subdued no-border-active"></span>
            <span class="button  button-small col-50 subdued text-center no-border-active"
                  nav-transition="none" ui-sref="home.today.select_sale({index : $index, scroll : 'toComment'})" ><!--quick-comment="article"-->
              <i class="icon ion-chatbubbles"></i>&nbsp;
              <span ng-show="saleItem.commentCount != 0">{{ saleItem.commentCount || ''}}</span> Comment<span ng-show="saleItem.commentCount > 1">s</span></span>
          </p>
        </div>


      </div>



      <div class="item text-center padding" style="margin-top: 200px" ng-show="(todayData.sales | filter : {superareaName : saleAreaShowing}).length < 1">
        <h2>No Sales Data Available Under {{ saleAreaShowing || 'All' }}</h2>
      </div>

      <div class="item text-center padding" style="margin-top: 200px" ng-hide="todayData.companyAtAGlance && todayData.sales.length">
        <h2>No Sales Data Available</h2>
      </div>


      <ion-infinite-scroll
        ng-if="model.more_sales_is_available && todayData.sales.length"
        on-infinite="loadMore()"
        distance="50%">
      </ion-infinite-scroll>

    </div>


  </ion-content>

</ion-view>




