        <div class="list no-padding"><!--animate-fade-slide-in-right-->
          <a class="item item-avatar" show-employee-profile="" email="{{ user.email }}" ng-repeat="user in employees | filter : models.searchTerm |limitTo : models.userShowLimit">

            <img ng-src="{{user.userImageLink}}" class="">
            <h2 style="margin: -5px 0 1px 0;"> {{ user.firstName + ' ' + user.lastName }}</h2>
            <p>{{user.title}}</p>
            <p>{{user.division}}</p>
          </a>


          <div class="item text-center padding" style="margin-top: 200px" ng-hide="employees.length"  ng-if="notloading">
            <h2>No Employee Data Available</h2>
          </div>
        </div>
