<ion-view>


  <ion-content>
    <div ng-include="'mlife/offices/offices/office_top_section.html'"></div>

    <div ng-show="tabToShow.employees">
      <div ng-include=" 'mlife/offices/offices/office_employee_list.html' "></div>
    </div>

    <div ng-show="tabToShow.sales">
      <div ng-include=" 'mlife/offices/offices/office_sales.html' "></div>
    </div>


  </ion-content>
</ion-view>
