<div class="content"><!--animate-fade-slide-in-->
  <div class="list">
    <div on-swipe-left="openSaleOnSwipeRight($index)"
         class="item item-avatar item-body today-item no-margin sale_color row"
         ng-repeat="saleItem in salesData"
         style="padding-bottom: 0; padding-top: 4px;">

      <div class="col-20">
        <!--Profile Picture/Avatar : Show only one profile picture-->
        <img class="profile_pic" ng-src="{{ person.userImageLink }}" name="{{person.userName}}" profile-image="{{ person.userImageLink }}"
             ng-repeat="person in saleItem.salesCollaborators">

        <!--First Deal Star-->
        <img src="img/star.png" class="sale_mark star" ng-show="checkIfItIsAnyonesFirstDeal(saleItem.salesCollaborators)"><!--person.firstDeal != 'false'-->

        <!--Show if there's FairHair Product included-->
        <img src="img/helmet.png" class="sale_mark helmet" ng-repeat="product in saleItem.products" ng-show="product == 'Fairhair'">
        <img src="img/collab.png" class="sale_mark collab"  ng-show="saleItem.salesCollaborators.length > 1">

      </div>

      <div class="col-80">
        <!--Deal Collaborators and Office-->
        <h2 class="no-margin" style="line-height: 20px">

          <!--Name of the Collaborators-->
          <span ng-repeat-start="person in saleItem.salesCollaborators" show-employee-profile="" email="{{ person.userEmail }}" >
            <strong>{{ person.userName }}</strong>&nbsp;<span>({{person.salesOffice}})</span>
          </span>

          <!--Add & if they are more than 1-->
          <span ng-repeat-end="" ng-show="saleItem.salesCollaborators.length > 1 && saleItem.salesCollaborators.length != $index + 1"> & </span>

        </h2>

        <!--Name of the Account/Customer-->
        <p class="no-margin" ui-sref="home.today.select_sale({index : $index})">{{ saleItem.accountName }}</p>

        <!--Write names of the products in the deal-->
        <p class="no-margin" ui-sref="home.today.select_sale({index : $index})" >
          <span ng-repeat-start="product in saleItem.products">{{ product }}</span>
          <span  ng-show="saleItem.products.length > 1 && saleItem.products.length != $index + 1"> & </span>
          <span ng-repeat-end="" ng-show="saleItem.products.length == $index + 1"> - US$ {{ saleItem.salesValue  }}</span>
          <span ng-if="saleItem.date"><br>Date : {{ saleItem.date }}</span>
          <span><br>Time : {{ saleItem.time }}</span>
        </p>


        <!--Like and comment button-->
        <p class="no-margin row" ><!--style="padding : 20px 0 0 0; border-top: 1px solid #d3d6db;"-->
          <span like-sale="saleItem" class="like button button-small subdued no-border-active"></span>
          <span class="button  button-small col-50 subdued text-center no-border-active"
                nav-transition="none" ui-sref="home.today.select_sale({index : $index, scroll : 'toComment'})" ><!--quick-comment="article"-->
              <i class="icon ion-chatbubbles"></i>&nbsp;
              {{ saleItem.commentCount }} Comments</span>
        </p>
      </div>


    </div>
    <div class="item text-center padding" style="margin-top: 200px" ng-hide="salesData.length" >
      <h2>No Sales Data Available</h2>
    </div>
  </div>
</div>
