
<div>
        <!--Hero Section-->
        <div class="hero" style="height: 150px; background-size: contain; background-image: url( 'img/meltwater_office.jpg' )">
            <div class="content">
                <div class="avatar" style="border-radius: 50px; width : 84px; height : 45px; background-size: cover; margin: 0 auto" ></div>
                <h3 class="light officeName" >{{ $state.params.office }}</h3>
                <h4 class="light officeName" >Sales Office</h4><!--office.type-->
            </div>
        </div>


        <!--Tabs Section-->
        <div class="tabs tabs-dark tabs-icon-top" style="position: relative">
            <a ng-click="showTab('employees')" ng-class="{'active' : tabToShow.employees}" class="tab-item">
                <i class="icon ion-clipboard"></i> Employees
            </a>
            <a ng-click="showTab('sales')" ng-class="{'active' : tabToShow.sales}" class="tab-item">
                <i class="icon ion-stats-bars"></i> Sales
            </a>
            <!--<a ng-click="showTab('favorites')" ng-class="{'active' : tabToShow.favorites}" class="tab-item">-->
                <!--<i class="icon ion-images"></i> Favorites-->
            <!--</a>-->
        </div>
</div>
