<ion-view>

  <ion-nav-buttons side="secondary">
    <button class="button" ng-click="models.isShowing = !models.isShowing; models.searchTerm = '' ">
      <i class="icon ion-ios-search white"></i>
    </button>
  </ion-nav-buttons>

  <div class="bar bar-subheader bar-purple" ng-show="models.isShowing">
    <div class=" item-input-inset" style="width: 100%" >
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon white"></i>
        <input type="search" ng-minlength="3" ng-model="models.searchTerm" placeholder="Type to start searching">
      </label>
    </div>
  </div>


  <ion-content class="setting" ng-class="{'has-subheader' : models.isShowing}">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="reloadAreas()">
    </ion-refresher>

    <!--<div class="row" >-->
    <!--<div class="col col-center">-->
    <!--<div  class="text-center">-->
    <!--<ion-spinner class="spinner-calm text-center"></ion-spinner>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <div class="list no-padding">
      <!--<h2 class="item-divider  no-margin text-center today-section-header"-->
          <!--style="background-color: #a4c7e6; padding: 16px; line-height: 5px">-->
        <!--Areas in {{ $state.params.superarea }}</h2>-->
      <a ui-sref="home.territories.office({ area : area.name})" class="item item-icon-left" href="" style="padding: 10px 16px 10px 55px"
         ng-repeat="area in areas | filter : models.searchTerm">
        <i class="icon ion-ios-world"></i>
        <h2 style="margin: 10px 0 1px 0;">{{ area.name }}</h2>
        <!--<p>{{ area.type }}</p>-->
      </a>
    </div>

  </ion-content>
</ion-view>
