<ion-view hide-back-button="false"><!--view-title="mLife"-->

  <ion-content class="" overflow-scroll="true" lazy-scroll="" ng-class="{'has-subheader' : models.isShowing}">

    <div class="list no-padding">
      <h2 class="item-divider  no-margin text-center today-section-header"
          style="background-color: #f1e73e; padding: 16px; line-height: 5px">
        Employees in {{ $state.params.office }}
      </h2>
      <a class="item item-avatar" ui-sref="home.profile({email : user.email})" ng-repeat="user in employees | filter : models.searchTerm |limitTo : models.userShowLimit">

        <img ng-src="{{user.userImageLink}}" class="">
        <h2 style="margin: -5px 0 1px 0;"> {{ user.firstName + '' + user.lastName }}</h2>
        <p>{{user.title}}</p>
        <p>{{user.division}}</p>
      </a>

    </div>
    <ion-infinite-scroll
            ng-if="models.more_users_is_available  && !(models.isShowing)"
            on-infinite="loadMore()"
            distance="10%">
    </ion-infinite-scroll>

  </ion-content>
