<ion-view>

  <ion-nav-buttons side="secondary">
    <button class="button white" ng-click="models.isShowing = !models.isShowing; models.searchTerm = '' ">
      <i class="icon ion-ios-search"></i>
    </button>
  </ion-nav-buttons>

  <div class="bar bar-subheader bar-purple" ng-show="models.isShowing">
    <div class=" item-input-inset" style="width: 100%" >
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon white"></i>
        <input type="search" ng-minlength="3" ng-model="models.searchTerm" placeholder="Type to start searching">
      </label>
    </div>
  </div>


  <ion-content class="setting" ng-class="{'has-subheader' : models.isShowing}">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="reloadOffices()">
    </ion-refresher>

    <div class="list no-padding">
      <!--<h2 class="item-divider  no-margin text-center today-section-header"-->
          <!--style="background-color: #f1e73e; padding: 16px; line-height: 5px">-->
        <!--Offices in {{ $state.params.area }}</h2>-->
      <a ng-click="selectOffice(office)" ui-sref="home.territories.employees({ office : office.name, officeId : office.id})"  class="item item-icon-left" href="" style="padding: 10px 16px 10px 55px" ng-repeat="office in offices | filter : models.searchTerm">
        <i class="icon ion-ios-home-outline"></i>
        <h2 style="margin: 10px 0 1px 0;">{{ office.name }}</h2>
        <!--<p>{{ area.type }}</p>-->
      </a>
    </div>

  </ion-content>
</ion-view>
