<ion-view hide-back-button="false"><!--view-title="mLife"-->

  <ion-nav-buttons side="secondary">
    <button class="button white" ng-click="models.isShowing = !models.isShowing; models.searchTerm = '' ">
      <i class="icon ion-ios-search"></i>
    </button>
  </ion-nav-buttons>

  <div class="bar bar-subheader bar-purple" ng-show="models.isShowing">
    <div class=" item-input-inset" style="width: 100%" >
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon white"></i>
        <input type="search" ng-model="models.searchTerm" placeholder="Type to start searching">
      </label>
    </div>
  </div>


  <ion-content class="setting" ng-class="{'has-subheader' : models.isShowing}">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="reloadSuperAreas()">
    </ion-refresher>

    <ion-nav-view>

      <div class="list offices condensed-space no-padding  ">
        <!--<h2 class="item-divider  no-margin text-center today-section-header"-->
        <!--style="background-color: #C8E6C9; padding: 16px; line-height: 5px">-->
        <!--Super Areas</h2>-->
        <div class="card dark-bg" ng-repeat="area in superAreas | filter : models.searchTerm" ng-hide="area.name == 'CEMEA' || area.name == 'Nordics'">

          <a ng-if="area.name != 'CentralOps' && area.name != 'Engineering'" ui-sref="home.territories.area({ superarea : area.name })" class="item clear-bg item-bg-image has-mask-reverse">
            <h2 class="">{{ area.name}}</h2>
            <p class="">{{ area.type}}</p>
            <img ng-src="img/superAreaImg/{{area.name}}.png">
          </a>

          <a ng-if="area.name == 'CentralOps' || area.name == 'Engineering'" ui-sref="home.territories.office({ area : area.name})" class="item clear-bg item-bg-image has-mask-reverse">
            <h2 class="">{{ area.name}}</h2>
            <p class="">{{ area.type}}</p>
            <img ng-src="img/superAreaImg/{{area.name}}.png">
          </a>

        </div>

      </div>
    </ion-nav-view>

  </ion-content>

</ion-view>
