<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>

    <ion-nav-bar class="bar-purple nav-title-slide-ios7" nav-bar-transition="false">

      <ion-nav-back-button></ion-nav-back-button>

      <ion-nav-title >
        <img class="title_logo" nav-transition="none" ui-sref="home.posts({cat_id : 0})" src="img/mlifelogo_title_bar.png">
      </ion-nav-title>


      <!--<ion-nav-buttons side="left">-->
      <!--<button class="button button-icon button-clear ion-navicon" menu-toggle="left">-->
      <!--</button>-->
      <!--</ion-nav-buttons>-->

      <ion-nav-buttons side="right">
        <button class="button white" count-notifications="" notification-alerts=""  nav-transition="none">
          <i class="icon " ng-class="platformSpecificClass('ion-ios-bell', 'ion-android-notifications', 'ion-ios-bell') "></i>
          <span  class="badge badge-assertive" ng-show="avaliableNotifications" style="top : -27px !important;">{{ avaliableNotifications }}</span>
        </button>
      </ion-nav-buttons>

    </ion-nav-bar>

    <!-- TABS -->
    <ion-tabs class="tabs-positive tabs-icon-top base-tabs">

      <!-- Hamburger Button -->
      <!--<ion-tab title="Menu" icon-on="ion-navicon" icon-off="ion-navicon" on-select="openMenu()">-->
      <!--<ion-nav-view name="home-tab" ></ion-nav-view>-->
      <!--</ion-tab>-->
      <!--<button class="button button-icon button-clear ion-navicon"-->
              <!--style="font-size: 30px;-->
              <!--/* line-height: 40px; */-->
              <!--padding-bottom: 39px;-->
              <!--color : grey;-->
              <!--margin-bottom: 37px;" menu-toggle="left" ng-click="openMenu()">-->
      <!--</button>-->

      <!-- NEWS TAB -->
      <ion-tab title="News" ui-sref="home.posts({cat_id : 0})" icon-on="ion-ios-compose" icon-off="ion-ios-compose-outline" on-select="increasePostPageViewCount()">
        <ion-nav-view name="home-tab" ></ion-nav-view>
      </ion-tab>



      <!-- TODAY PAGE -->
      <ion-tab title="Today" ui-sref="home.today.main"  icon-on="ion-ios-star" icon-off="ion-ios-star-outline" class=" " on-select="increaseTodayPageViewCount()">
        <ion-nav-view name="today-tab"></ion-nav-view>
      </ion-tab>



      <!-- OFFICES AND PEOPLE -->
      <ion-tab title="Offices" ui-sref="home.territories.superarea" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" on-select="increaseOfficesPageViewCount()">
        <ion-nav-view class="" name="territories-tab"></ion-nav-view>
      </ion-tab>



      <!-- PROFILE PAGE -->
      <ion-tab title="Profile" ui-sref="home.profile({email : $localStorage.user.data.user_email})" class="" icon-on="ion-ios-contact" icon-off="ion-ios-contact-outline" on-select="increaseProfilePageViewCount()">
        <ion-nav-view name="profile-tab"></ion-nav-view>
      </ion-tab>



      <!-- KICKOFF TAB -->
      <ion-tab title="mFeed" ui-sref="home.kickoff.main" class="" icon-on="mfeed-icon" icon-off="mfeed-icon-light" on-select="increaseKickoffPageViewCount()">
        <ion-nav-view name="kickoff-tab"></ion-nav-view>
      </ion-tab>

      <!--<ion-tab-->
      <!--title="Tab!"-->
      <!--icon="my-icon"-->
      <!--href="#/tab/tab-link"-->
      <!--on-select="onTabSelected()"-->
      <!--on-deselect="onTabDeselected()">-->
      <!--</ion-tab>-->

    </ion-tabs>


  </ion-side-menu-content>

  <!-- Side Menu (left) -->
  <ion-side-menu side="left" ng-include=" 'mlife/base/sidemenu.tpl.html' " >

  </ion-side-menu>

</ion-side-menus>

