<ion-scroll zooming="true" direction="y" style="height: 150px">
    <div class="list" style="height: 150px">
        <div class="item" mentio-menu-item="item" style="padding: 7px 16px" ng-repeat="item in items track by $index">
            <a class="text-primary" ng-bind-html="item.label | mentioHighlight:triggerText:'menu-highlighted' | unsafe"></a>
        </div>
    </div>
</ion-scroll>
