<ion-popover-view>

    <style>
      .popover {
        height: 450px;
      }
    </style>

  <ion-content id="todayPage">

    <ion-list>
      <ion-item ui-sref="home.posts({cat_id : 0})" class="text-center" ng-click="changeNewsCategoryShowing('Home')">
        <h2><a ng-class="{'active' : newsCategoryShowing == 'Home' }" class="brown-font bold-font text-center">Home</a></h2>
      </ion-item>

      <ion-item ui-sref="home.categories_posts({cat_id : 95, cat_name : 'Jorn\'s Corner'})" class="text-center" ng-click="changeNewsCategoryShowing('Jorn\'s Corner')">
        <h2><a ng-class="{'active' : newsCategoryShowing == 'Jorn\'s Corner' }" class="brown-font bold-font text-center">Jorn's Corner</a></h2>
      </ion-item>

      <ion-item ui-sref="home.categories_posts({cat_id : 164, cat_name : 'Culture'})" class="text-center" ng-click="changeNewsCategoryShowing('Culture')">
        <h2><a ng-class="{'active' : newsCategoryShowing == 'Culture' }" class="brown-font bold-font text-center">Culture</a></h2>
      </ion-item>

      <ion-item ui-sref="home.categories_posts({cat_id : 165, cat_name : 'Engineering'})"  class="text-center" ng-click="changeNewsCategoryShowing('Engineering')">
        <h2><a ng-class="{'active' : newsCategoryShowing == 'Engineering' }" class="brown-font bold-font text-center">Engineering</a></h2>
      </ion-item>


      <ion-item ui-sref="home.categories_posts({cat_id : 1037, cat_name : 'HR'})"  class="text-center" ng-click="changeNewsCategoryShowing('HR')">
        <h2><a ng-class="{'active' : newsCategoryShowing == 'HR' }" class="brown-font bold-font text-center">HR</a></h2>
      </ion-item>

      <ion-item ui-sref="home.categories_posts({cat_id : 1050, cat_name : 'IT'})"  class="text-center" ng-click="changeNewsCategoryShowing('IT')">
        <h2><a ng-class="{'active' : newsCategoryShowing == 'IT' }" class="brown-font bold-font text-center">IT</a></h2>
      </ion-item>

      <ion-item ui-sref="home.categories_posts({cat_id : 170, cat_name : 'Central Ops'})"  class="text-center" ng-click="changeNewsCategoryShowing('Central Ops')">
        <h2><a ng-class="{'active' : newsCategoryShowing == 'Central Ops' }" class="brown-font bold-font text-center">Central Ops</a></h2>
      </ion-item>

      <!--<ion-item ui-sref="home.categories_posts({cat_id : , cat_name : 'L&D'})"  class="text-center" ng-click="changeNewsCategoryShowing('L&D')">-->
        <!--<h2><a ng-class="{'active' : newsCategoryShowing == 'L&D' }" class="brown-font bold-font text-center">L&D</a></h2>-->
      <!--</ion-item>-->


      <ion-item ui-sref="home.categories_posts({cat_id : 163, cat_name : 'Marketing'})"  class="text-center" ng-click="changeNewsCategoryShowing('Marketing')">
        <h2><a ng-class="{'active' : newsCategoryShowing == 'Marketing' }" class="brown-font bold-font text-center">Marketing</a></h2>
      </ion-item>


      <ion-item ui-sref="home.categories_posts({cat_id : 806, cat_name : 'MEST'})"  class="text-center" ng-click="changeNewsCategoryShowing('MEST')">
        <h2><a ng-class="{'active' : newsCategoryShowing == 'MEST' }" class="brown-font bold-font text-center">MEST</a></h2>
      </ion-item>


      <ion-item ui-sref="home.categories_posts({cat_id : 607, cat_name : 'Product'})"  class="text-center" ng-click="changeNewsCategoryShowing('Product')">
        <h2><a ng-class="{'active' : newsCategoryShowing == 'Product' }" class="brown-font bold-font text-center">Product</a></h2>
      </ion-item>

      <ion-item ui-sref="home.categories_posts({cat_id : 945, cat_name : 'Sales'})"  class="text-center" ng-click="changeNewsCategoryShowing('Sales')">
        <h2><a ng-class="{'active' : newsCategoryShowing == 'Sales' }" class="brown-font bold-font text-center">Sales</a></h2>
      </ion-item>


      <ion-item ui-sref="home.categories_posts({cat_id : 423, cat_name : 'SuperAreas'})"  class="text-center" ng-click="changeNewsCategoryShowing('SuperAreas')">
        <h2><a ng-class="{'active' : newsCategoryShowing == 'SuperAreas' }" class="brown-font bold-font text-center">SuperAreas</a></h2>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-popover-view>
