<ion-nav-buttons side="right">
  test
  <button  ng-click="showHomeTab()" class="button" ng-if="$localStorage.notifications.length"   nav-transition="none">
    <i class="icon " ng-class="platformSpecificClass('ion-ios-bell', 'ion-android-notifications', 'ion-ios-bell') "></i>
    <span notification-alerts=""  class="badge badge-assertive" style="top : -27px !important;">{{ $localStorage.notifications.length }}</span>
  </button>
  <button  ng-click="showHomeTab()" class="button" ng-if="!($localStorage.notifications.length)" notification-alerts="" nav-transition="none">
    <i class="icon " ng-class="platformSpecificClass('ion-ios-bell-outline', 'ion-android-notifications-none', 'ion-ios-bell-outline') "></i>
  </button>
</ion-nav-buttons>
