<div ><!--ng-init="loadComments(article.ID)"-->

  <div class="item item-text-wrap" nav-transition="none"
       ng-click="selectPost(article.ID)">
    <h2 class="purple article-title " ng-bind-html="article.post_title"></h2>
    <p class="uppercase font-size-13">{{ article.post_date | amDateFormat:'MMMM DD, YYYY' }}</p>
  </div>
  <!--image-lazy-src="{{ article.image }}"
                 image-lazy-distance-from-bottom-to-load="100"-->
  <div class="item item-body">
    <img class="full-image"
         nav-transition="none"
         src=""
         ng-click="selectPost(article.ID)"
         image-lazy-src="{{ article.image }}"
         image-lazy-distance-from-bottom-to-load="100"
         alt="" ng-show="article.image">
    <div class="date-square full-image" ui-sref="home.select_post({ id : article.ID })" ng-hide="article.image">
      <span class="month">{{ article.post_date | amDateFormat:'MMMM DD, YYYY'  }}</span>
    </div>
    <p  ng-click="selectPost(article.ID)" nav-transition="none">
      <span class="inline-child-ps" ng-bind-html="article.post_content  | limitTo : 150 | toTrusted"></span>
      <span ng-show="article.post_content.length > 150">...</span>
    </p>
    <p class="row" style="padding : 20px 0 0 0; border-top: 1px solid #d3d6db;">
      <span like-article="article" class="like button button-small col-50 subdued text-center no-border-active"></span>
      <span class="button  button-small col-50 subdued text-center no-border-active"

            nav-transition="none" ng-click="selectPost(article.ID, true)" ><!--quick-comment="article"-->
        <i class="icon ion-chatbubbles"></i>&nbsp;
        <span ng-show="article.comments_count > 0">{{ article.comments_count }}</span> Comment<span ng-show="article.comments_count > 1">s</span></span>
    </p>
  </div>
</div>


