<ion-view hide-back-button="false" cache-view="false" can-swipe-back="true">
  <ion-nav-title>
    <img class="title_logo"  nav-transition="none" ui-sref="home.posts" src="img/mlifelogo_title_bar.png" >
  </ion-nav-title>
  <ion-nav-back-button></ion-nav-back-button>
  <!--<ion-nav-buttons side="left" >-->
  <!--<button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>-->
  <!--</ion-nav-buttons>-->

  <ion-content class="" >

    <div class="row" ng-hide="selected_post">
      <div class="col col-center">
        <div  class="text-center">
          <ion-spinner class="spinner-positive text-center"></ion-spinner>
        </div>
      </div>
    </div>


    <div class="white padding" style="background-color: #b627a1; margin-bottom: -10px">
      <p class=" light-font text-center padding-top" >
        <span class="uppercase" ng-bind="selected_post.post_date | date : 'MMMM d, y' "></span>
        &nbsp;&nbsp;"&nbsp;&nbsp;
        <span>{{ post_comments.length || '0' }} comment<span ng-show="post_comments.length > 1">s</span></span>
      </p>
      <p class="h2 text-center white  article-title light-font padding"
         ng-bind-html="selected_post.post_title | newlines"></p>
    </div>
    <div class="item-image">
      <img ng-src="{{ selected_post.image }}">
    </div>

    <!--<div class="">-->
    <!--<div class="item range positive">-->
    <!--<i class="icon ion-ios-minus-outline" ng-click="decreaseTextSize()"></i>-->
    <!--<input type="range" min="15" max="40" name="text_size" ng-model="$localStorage.text_size" id="text_size">-->
    <!--<i class="icon ion-plus-circled" ng-click="increaseTextSize()"></i>-->
    <!--</div>-->
    <!--</div>-->
    <div class="padding post_content"
         mn-touch
         swipe-left="moveToNextArticle($event)"
         swipe-right="moveToPreviousArticle($event)"
         threshold=“3000”
         style="font-size : 18px"
         ng-bind-html="selected_post.post_content | parseWpShortCodes | hrefToJS  "></div>
    <!--  |  toTrusted -->


    <!--Hash Tag instructions-->
    <!--<div class="row padding">-->
    <!--<p class="bold-font">You can tag colleagues in the comments below by using the hashtag symbol-->
    <!--and their email address, for example : #katie@meltwater.org</p>-->
    <!--</div>-->


    <!--Like Button-->
    <div class="row padding">
      <div class="col">
        <button ng-click="postLike()" class="like button-dark button  button-block">
          <!--<ion-spinner class="spinner-positive text-center"  ng-show="loadingLikes"></ion-spinner>-->
          <i class="icon ion-thumbsup" ></i><!--ng-hide="loadingLikes"-->
          &nbsp;
          <span class="badge" ng-class="{'badge-purple' : selected_post.is_liked == true}">{{ selected_post.user_likes }}</span>
        </button>
      </div>
    </div>



    <div class="list padding">
      <h5 class="header" id="commentHeader" >Comments</h5>

      <!--<pre ng-if="error">error : {{ error | json }}</pre>-->

      <div ng-show="loadingComments" class="text-center">
        <ion-spinner class="spinner-positive text-center"></ion-spinner>
      </div>

      <!--<ion-scroll delegate-handle="comments" style="height: 1px;"></ion-scroll>-->

      <div ng-if="post_comments.length" ng-hide="loadingComments">
        <div class="comment_div" modify-comment="comment"  ng-repeat="comment in post_comments" style="margin-top: 1px">
          <div  class="item item-divider  ion-chatbubbles" ng-class="{'purple-bg' : edittingComment.comment_ID == comment.comment_ID}">
            {{comment.comment_author }}
            <span class="item-note">
                {{ comment.comment_date_gmt | amCalendar }}
             </span>
          </div>

          <span class="item item-text-wrap " emojify-comment=""
                ng-class="{'purple-border' : edittingComment.comment_ID == comment.comment_ID}" >
            {{ comment.comment_content }}
          </span>
        </div>



      </div>


      <h5 class="positive-bg text-center" ng-if="!(post_comments.length)" ng-hide="loadingComments">
        <span class="padding white">No comments under this post. Be the first!</span>
      </h5>



      <!--comment box area-->
      <br>
      <!--<form style="margin-top: 5px; padding-top: 5px" ng-submit="postComment()" id="commentForm">-->
      <!--&lt;!&ndash;<div class="list padding">&ndash;&gt;-->
      <!--<label class="item item-input item-stacked-label " ng-class="{'purple-border' : edittingComment.comment_ID > 0}">-->
      <!--<span ng-if="edittingComment.comment_ID > 0" class="input-label">Edit comment - -->
      <!--<small class="purple" emojify-comment="">{{ edittingComment.comment_content }}</small>-->
      <!--<small class="purple" ng-show="edittingComment.comment_content.length > 50">...</small>-->
      <!--</span>-->

      <!--<textarea  ng-disabled="postingComment" id="comment_area" rows="5"-->
      <!--placeholder="Post a comment"-->
      <!--at-in-comment=""-->
      <!--people-in-mentions="peopleInMentions"-->
      <!--at-push-ids="atPushIds"-->
      <!--ng-model="comment.comment">-->
      <!--</textarea>-->
      <!--</label>-->

      <!--<div class="">&lt;!&ndash;padding&ndash;&gt;-->
      <!--<button ng-disabled="postingComment" ng-click="postComment()"-->
      <!--class="button button-block " ng-class="{true : 'button-energized', false : 'button-positive'}[edittingComment.comment_ID > 0]">-->
      <!--<span ng-hide="postingComment">Comment</span>-->
      <!--<span ng-show="postingComment">Processing...</span>-->
      <!--</button>-->
      <!--</div>-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--</form>-->



    </div>

  </ion-content>
  <ion-footer-bar keyboard-attach align-title="left" class="bar-white footerbar">
    <!--<form style="margin-top: 5px; width: 100%;padding-top: 5px" ng-submit="postComment()" id="commentForm">-->
      <!--<div class="list padding">-->
      <!--<label class="item item-input item-stacked-label " ng-class="{'purple-border' : edittingComment.comment_ID > 0}">-->
          <!--<span ng-if="edittingComment.comment_ID > 0" class="input-label">Edit comment - -->
            <!--<small class="purple" emojify-comment="">{{ edittingComment.comment_content }}</small>-->
            <!--<small class="purple" ng-show="edittingComment.comment_content.length > 50">...</small>-->
          <!--</span>-->
        <!--<input type="text" >-->
        <input type="text"  class="reg-font input-in-footer" placeholder="Write a comment..."
               ng-model="comment.comment"
               at-in-comment=""
               people-in-mentions="peopleInMentions"
               at-push-ids="atPushIds"/><!--autogrow max-lines="3"-->
        <button class="pull-right button no-border " ng-class="{'purple bold-font' : comment.comment.length > 0}"
                style="min-height: 27px; line-height: 27px; top: 0; bottom: 0; font-size: 15px" ng-click="postComment()" ng-disabled="comment.comment.length < 1">
          <!--<i class="icon ion-android-send"></i> -->
          <span ng-hide="postingComment">Post</span>
          <span ng-show="postingComment"><ion-spinner class="spinner-purple"></ion-spinner></span>
        </button>
      <!--</label>-->
    <!--</form>-->
  </ion-footer-bar>
</ion-view>
