<!--<ion-header-bar class="bar bar-header bar-royal">-->
  <!--<h4 class="white">Categories</h4>-->
<!--</ion-header-bar>-->

<ion-content class="light-bg"><!--has-header, dark-bg-->

  <ion-list>

    <!--Home Button-->
    <ion-item nav-transition="none" class=" "
              ng-class="{ true : 'active', false : 'text-grey item-dark' }[ $state.is('home.select_post') || $state.is('home.posts') ]">
      <button class="button-clear button-block bold-font"
              style="text-align: left"
              ui-sref="home.posts"
              ng-class="{ true : 'white', false : 'positive' }[ $state.is('home.select_post') || $state.is('home.posts')]"
              nav-transition="none">
        Home
      </button>
    </ion-item>

    <!--Main Menu Category Button-->
    <!--item-dark-->
    <ion-item ng-repeat-start="category in categories" class="   item-icon-right"
              ng-class="{ true : 'active', false : 'text-grey' }[ isGroupShown(category.name) ||  $state.params.cat_id == category.term_id]">
      <button class="positive button-clear button-block bold-font menu-header"
              style="text-align: left"
              ng-class="{ true : 'white', false : 'positive' }[ $state.params.cat_id == category.term_id ]"
              nav-transition="none"  ui-sref="home.categories_posts({ cat_id : category.term_id })">
        {{ category.name | entityReplace }}
      </button>
      <i class="icon ion-chevron-down mini-font"  ng-click="toggleGroup(category.name)"  ng-if="category.sub_categories.length"></i>
    </ion-item>


    <!--Sub Menu Category Button-->
    <ion-item ng-repeat-end="" ng-if="category.sub_categories.length"
              class="item-accordion  item-dark"
              ng-show="isGroupShown(category.name)">
      <button  ui-sref="home.categories_posts({ cat_id : sub_cat.term_id })"  nav-transition="none"
               style="text-align: left"
               class="padding list-item button-clear button-block bold-font"
               ng-class="{ true : 'white', false : 'positive' }[ $state.params.cat_id == sub_cat.term_id ]"
            ng-repeat="sub_cat in category.sub_categories">
        <span class="">{{ sub_cat.name  | entityReplace }}</span>
      </button>
    </ion-item>

    <ion-item ng-click="logout()" class="item-dark assertive bold-font">Logout</ion-item>
    <!--<ion-item ui-sref="home.users" class=" item-dark energized">Meltwater Users</ion-item>-->
    <!--<ion-item ui-sref="home.test" class=" item-dark energized">Test Page</ion-item>-->

  </ion-list>

</ion-content>
