<ion-view hide-back-button="false"><!--view-title="mLife"-->
  <ion-nav-buttons side="left" >
    <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
  </ion-nav-buttons>
<ion-nav-back-button></ion-nav-back-button>
  <ion-nav-buttons side="secondary">
    <button class="button" ng-click="models.isShowing = !models.isShowing; models.searchTerm = '' ">
      <i class="icon" ng-class="platformSpecificClass('ion-ios-search', 'ion-android-search', 'ion-ios-search') "></i>
    </button>
  </ion-nav-buttons>
  <div class="bar bar-subheader bar-positive item-input-inset" ng-show="models.isShowing">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" ng-model="models.searchTerm" placeholder="Type to start searching">
    </label>
  </div>

  <div class="bar bar-subheader bar-positive item-input-inset" ng-hide="models.isShowing">
    <h3></h3>
    <h2 class="title">Notifications</h2>
    <button class="button button-clear" ng-click="models.shouldShowDelete = !models.shouldShowDelete">

      <i class="icon ion-ios-trash-outline"></i>
      <i class="icon "></i>
    </button>
  </div>

  <ion-content class="has-subheader " overflow-scroll="true" lazy-scroll="">

    <!--<button class="button button-calm button-block">-->
    <!--<a class="item" href="" onclick="window.open('https://mlifeapp.co/updatemlife/', '_system', 'location=yes'); return false;">-->
    <!--Update mLife-->
    <!--</a>-->
    <!--</button>-->

    <ion-list class="notifications_list" show-delete="models.shouldShowDelete" can-swipe="models.listCanSwipe">


      <!--
      UPDATE AVAILABLE NOTIFICATIONS
      -->
      <ion-item ng-show="update.available" ng-click="openUpdateSite()">
        <a href="" class="item item-divider">
          mLife Update Available
        </a>
        <a href="" class="item" style="padding: 5px 16px"  >
          <h2 class="positive">Update to version {{ update.version }}</h2>
          <p>Tap to begin</p>
        </a>
        <ion-delete-button class="ion-ios-trash"
                           ng-click="deleteUpdate()">
        </ion-delete-button>
      </ion-item>


      <!--
      REGULAR NOTIFICATIONS
      -->
      <ion-item ng-repeat="alert in $localStorage.notifications | limitTo : models.notificationShowLimit"
                  ng-click="selectNotification(alert, $index)">
        <div class="item item-divider item-text-wrap" >
          {{ alert.post_title}}
        </div>
        <div class="item item-text-wrap">
          <small class="positive">{{ alert.tagger.firstName + " " + alert.tagger.lastName }} tagged you in a comment</small><br>
          <p emojify-comment="">{{  alert.comment_posted || 'You were tagged in a comment'  }}</p>
        </div>
        <ion-delete-button class="ion-ios-trash"
                           ng-click="$localStorage.notifications.splice($index, 1)">
        </ion-delete-button>
      </ion-item>



      <div class="item text-center padding" style="margin-top: 200px;"
           ng-if="!($localStorage.notifications.length) && !(more_posts_is_available)">
        <h2>No notifications received</h2>
      </div>


      <div class="item text-center padding" style="margin-top: 200px" ng-if="$localStorage.notifications.length" ng-hide="($localStorage.notifications | filter : models.searchTerm).length">
        <h2>No more articles found that match the search term  <br> " <b class="positive">{{ models.searchTerm }}</b> "</h2>
      </div>

    </ion-list>



    <!--<div>-->
      <!--version : {{appVersion}}<br>-->
      <!--&#45;&#45;&#45;&#45;-->
      <!--appBuild : {{appBuild }}<br>-->
<!-- -&#45;&#45;&#45;&#45;-->
      <!--appName : {{appName}} <br>-->
<!-- -&#45;&#45;&#45;&#45;-->
      <!--packageName : {{appPackage }}-->
    <!--</div>-->

    <ion-infinite-scroll
      ng-if="models.more_users_is_available  && !(models.isShowing)"
      on-infinite="loadMore()"
      distance="10%">
    </ion-infinite-scroll>

  </ion-content>
