<ion-modal-view>
  <ion-header-bar class="bar-purple">

    <div class="buttons">
      <button class="button white" ng-click="closeModal()">Close</button>
    </div>
    <h1 class="title white">Notifications</h1>
    <!--<div class="buttons">-->
      <!--<button class="button" ng-disabled="model.post_content.length < 1" ng-hide="posting" ng-click="postToServer()">-->
        <!--Post-->
      <!--</button>-->
      <!--<button class="button" ng-disabled="true" ng-show="posting">-->
        <!--<ion-spinner></ion-spinner>-->
      <!--</button>-->

    <!--</div>-->


  </ion-header-bar>


  <ion-content class="whats-on-your-mind-modal">
    <ion-list class="notifications_list" show-delete="models.shouldShowDelete" can-swipe="models.listCanSwipe">


      <!--
      UPDATE AVAILABLE NOTIFICATIONS
      -->
      <ion-item ng-show="update.available" ng-click="openUpdateSite()">
        <a href="" class="item item-divider">
          mLife Update Available
        </a>
        <a href="" class="item" style="padding: 5px 16px"  >
          <h2 class="purple">Update to version {{ update.version }}</h2>
          <p>Tap to begin</p>
        </a>
        <ion-delete-button class="ion-ios-trash"
                           ng-click="deleteUpdate()">
        </ion-delete-button>
      </ion-item>


      <!--
      REGULAR NOTIFICATIONS
      -->
      <ion-item ng-repeat="alert in $localStorage.notifications | limitTo : models.notificationShowLimit"
                ng-click="selectNotification(alert, $index)">
        <div class="item item-divider item-text-wrap" >
          {{ alert.post_title}}
        </div>
        <div class="item item-text-wrap">
          <small class="purple">{{ alert.tagger.firstName + " " + alert.tagger.lastName }} tagged you in a comment</small><br>
          <p emojify-comment="">{{  alert.comment_posted || 'You were tagged in a comment'  }}</p>
        </div>
        <ion-delete-button class="ion-ios-trash"
                           ng-click="$localStorage.notifications.splice($index, 1)">
        </ion-delete-button>
      </ion-item>



      <div class="item text-center padding" style="margin-top: 200px;"
           ng-if="!($localStorage.notifications.length) && !(more_posts_is_available)">
        <h2>No notifications received</h2>
      </div>


      <div class="item text-center padding" style="margin-top: 200px" ng-if="$localStorage.notifications.length" ng-hide="($localStorage.notifications | filter : models.searchTerm).length">
        <h2>No more articles found that match the search term  <br> " <b class="purple">{{ models.searchTerm }}</b> "</h2>
      </div>

    </ion-list>

    <ion-infinite-scroll
      ng-if="models.more_users_is_available  && !(models.isShowing)"
      on-infinite="loadMore()"
      distance="10%">
    </ion-infinite-scroll>

  </ion-content>
  <ion-footer-bar>
    <p ng-click="checkForUpdate()" style="position:absolute; bottom:0;text-align:center; width:100%;height:20px;"> &copy; mLife v{{appVersion}}.{{appBuild}}</p>
  </ion-footer-bar>
</ion-modal-view>
