<ion-view hide-nav-bar="true"><!--view-title="mLife"-->
  <ion-content class="col-center" style="overflow: scroll; background-color: #b627a1 ">
    <div class="row" style="margin-top: 50px"><!--c4f4f4-->
      <div class="col">
        <div class="text-center"><img ng-click="fillinLogin()" style="width: 200px" src="img/mlifelogo_all_white.png"></div>
      </div>
    </div>

    <div class="row text-center" style="max-width: 75%" ng-show="showLoginForm">
      <div class="col">
        <label class="mui-textfield"><!--item-stacked-label-->
          <input type="text"  placeholder="Username" ng-model="login.username">
          <!--<span class="">Username</span>-->
        </label>
        <!--<label class=" mui-textfield">&lt;!&ndash;item-stacked-label&ndash;&gt;-->
          <!--<input type="password" ng-model="login.password" placeholder="Password">-->
          <!--&lt;!&ndash;<span class="">Password</span>&ndash;&gt;-->
        <!--</label>-->
      </div>
    </div>


    <!--<div class="padding text-center" style="max-width: 75%">-->
      <!--<button ng-click="submitLogin()" class="button button-block button-positive">-->
        <!--<strong style="font-size: 17px">Login</strong>-->
      <!--</button>-->
    <!--</div>-->

    <br>
    <br>
    <div class="padding text-center" style="max-width: 75%">
      <button ng-click="authenticateWithSSO()" class="button button-block button-purple">
        <strong style="font-size: 17px">Login</strong>
      </button>
    </div>


  </ion-content>

</ion-view>



