<ion-view hide-back-button="false" class="reg-font"><!--view-title="mLife"-->

  <ion-nav-buttons side="secondary">
    <button class="button white" ng-click="models.isShowing = !models.isShowing; models.searchTerm = '' ">
      <i class="icon ion-ios-search"></i>
    </button>
  </ion-nav-buttons>

  <div class="bar bar-subheader bar-purple" ng-show="models.isShowing">
    <div class=" item-input-inset" style="width: 100%" >
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" ng-minlength="3" ng-model="models.searchTerm" placeholder="Type to start searching">
      </label>
    </div>
  </div>

  <ion-content class="reg-font kickoff" overflow-scroll="true" lazy-scroll="" ng-class="{'has-subheader' : models.isShowing}">
    <ion-refresher
      class="spinner-purple"
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <div class="row item top-row-buttons reg-font">
      <span class="button col reg-font top-three-row text-center no-border-active"  whats-on-your-mind="">
        <i class="icon ion-videocamera assertive"></i>&nbsp;Video</span>

      <span class="button col top-three-row reg-font text-center no-border-active"  whats-on-your-mind="">
        <i class="icon ion-image balanced " ></i>&nbsp;Photo</span>

      <span class="button col top-three-row reg-font text-center no-border-active" load-check-in-venues="">
        <i class="icon ion-ios-location royal"></i>&nbsp;Check In</span>
    </div>

    <div class="list kickoff">


      <div class=" item-thumbnail-left item-text-wrap whats-on-your-mind">
        <img ng-src="{{ $localStorage.user.data.userImageLink || 'http://a2.mzstatic.com/us/r30/Purple69/v4/dc/55/d1/dc55d1e8-57a0-3b50-25cb-68de23ad2c74/icon350x350.png'}}" style="max-width: 40px; height: auto !important;">
        <h2 class="pad-left-35 reg-font" id="whats-on-your-mind" whats-on-your-mind=""> What's on your mind?</h2>
      </div>

      <div class="row" ng-hide="kick_off_posts.length">
        <div class="col col-center">
          <div  class="text-center">
            <ion-spinner class="spinner-purple text-center"></ion-spinner>
          </div>
        </div>
      </div>

      <div class="item item-thumbnail-left item-text-wrap kickoff"  ng-repeat="post in kick_off_posts | filter : models.searchTerm ">
        <!--/*limitTo : model.postShowLimit  | orderBy : '-dateCreated'*/-->

        <!--owner image-->
        <img err-src="http://a2.mzstatic.com/us/r30/Purple69/v4/dc/55/d1/dc55d1e8-57a0-3b50-25cb-68de23ad2c74/icon350x350.png"
             ng-if="!(post.sharer)" ng-src="{{ post.owner.userImageLink || 'http://a2.mzstatic.com/us/r30/Purple69/v4/dc/55/d1/dc55d1e8-57a0-3b50-25cb-68de23ad2c74/icon350x350.png' }}" name="{{ (post.owner.firstName || 'MW Culture Team') + ' ' + post.owner.lastName }}" profile-image="{{ post.owner.userImageLink || 'http://a2.mzstatic.com/us/r30/Purple69/v4/dc/55/d1/dc55d1e8-57a0-3b50-25cb-68de23ad2c74/icon350x350.png'}}">

        <!--sharer's image-->
        <img err-src="http://a2.mzstatic.com/us/r30/Purple69/v4/dc/55/d1/dc55d1e8-57a0-3b50-25cb-68de23ad2c74/icon350x350.png"
             ng-if="post.sharer" ng-src="{{ post.sharer.userImageLink || 'http://a2.mzstatic.com/us/r30/Purple69/v4/dc/55/d1/dc55d1e8-57a0-3b50-25cb-68de23ad2c74/icon350x350.png' }}" name="{{ (post.sharer.firstName || 'MW Culture Team') + ' ' + post.sharer.lastName }}" profile-image="{{ post.sharer.userImageLink || 'http://a2.mzstatic.com/us/r30/Purple69/v4/dc/55/d1/dc55d1e8-57a0-3b50-25cb-68de23ad2c74/icon350x350.png'}}">

        <h2 show-employee-profile="" email="{{ post.owner.email }}" class="pad-left-35 reg-font" ng-if="!(post.checkedIn)" ng-show="post.sharer && (!post.checkedIn)">{{ (post.sharer.firstName || 'MW Culture Team') + ' ' + post.sharer.lastName}} <span class="light reg-font">shared</span> {{ (post.owner.firstName || 'MW Culture Team\'s')}}<span class="reg-font" show-employee-profile="" email="{{ post.owner.email }}" ng-show="post.owner.firstName">{{ ' ' + post.owner.lastName+ '\'s'}}</span><b class="reg-font" ui-sref="home.kickoff.selected({ id : post.parent_id})"> post</b>
        </h2>

        <h2 show-employee-profile="" email="{{ post.owner.email }}" class="pad-left-35 reg-font" ng-if="!(post.checkedIn)" ng-hide="post.sharer">{{ (post.owner.firstName || 'MW Culture Team')+ ' ' + post.owner.lastName}}</h2>

        <h2  class="pad-left-35 reg-font" ng-if="post.checkedIn" ng-hide="post.sharer">
          <span show-employee-profile="" email="{{ post.owner.email }}">{{ (post.owner.firstName || 'MW Culture Team')+ ' ' + post.owner.lastName}}</span>
          <span class="light reg-font">checked in to </span> <b>{{post.checkedIn.name}}</b>
        </h2>

        <p ng-show="post.dateShared">
          <span class="pad-left-35 reg-font"  am-time-ago="{{post.dateCreated}}"></span>
          <!--<span class="pad-left-35 reg-font">{{post.dateCreated | amDateFormat:'dddd, Do MMM, h:mm a'}}</span>-->
          <small style="font-size: 8px">&bullet;</small> <i class="ion ion-android-globe"></i>
        </p>
        <p ng-hide="post.dateShared"> <span class="pad-left-35 reg-font" am-time-ago="{{post.dateCreated}}">A while ago</span> &bullet; <i class="ion ion-android-globe"></i> </p>
        <!--<p ng-hide="post.dateShared"> <span class="pad-left-35 reg-font">{{post.dateCreated | amDateFormat:'dddd, Do MMM, h:mm a' }}</span>-->
          <!--&bullet; <i class="ion ion-android-globe"></i> </p>-->


        <div ng-show="post.sharer" class="black font-size-13 reg-font" >{{post.shared_post_content}}</div>




        <!--The content from the shared post goes here-->
        <div ng-show="post.sharer" class="item share_div kickoff">

          <img err-src="http://a2.mzstatic.com/us/r30/Purple69/v4/dc/55/d1/dc55d1e8-57a0-3b50-25cb-68de23ad2c74/icon350x350.png"
               ng-src="{{post.owner.userImageLink || 'http://a2.mzstatic.com/us/r30/Purple69/v4/dc/55/d1/dc55d1e8-57a0-3b50-25cb-68de23ad2c74/icon350x350.png.jpg'}}" name="{{ (post.owner.firstName || 'MW Culture Team') + ' ' + post.owner.lastName }}" profile-image="{{ post.owner.userImageLink || 'http://a2.mzstatic.com/us/r30/Purple69/v4/dc/55/d1/dc55d1e8-57a0-3b50-25cb-68de23ad2c74/icon350x350.png'}}">

          <h2 class="pad-left-40 reg-font" show-employee-profile="" email="{{ post.owner.email }}">{{ (post.owner.firstName || 'MW Culture Team') + ' ' + post.owner.lastName}}</h2>
          <p><span class="pad-left-40 reg-font" am-time-ago="{{post.dateCreated}}"></span>
            <small style="font-size: 8px">&bullet;</small> <i class="ion ion-android-globe"></i></p>

          <div class="black pad-bottom-10 font-size-13 reg-font" ui-sref="home.kickoff.selected({ id : post.$id})">{{post.post_content}}</div>

          <div ui-sref="home.kickoff.selected({ id : post.$id})" class="img-parent"
               ng-style="{ 'height': hasImageHeight(post) }" style="background-image: url('{{ post.image_url }}'); background-size: cover; background-position: 0 0;
               background-repeat: no-repeat;">
            <div class="text-center img-spinner hide" ng-if="post.image_url">
              <ion-spinner class="spinner-purple text-center" style="padding-top: 40px"></ion-spinner>
            </div>
            <img ng-if="post.image_url" image-lazy-src="{{ post.image_url }}" image-loader=""
                 image-lazy-distance-from-bottom-to-load="100"
                 style="width: 100%; height: 1px; margin-left: 2000px ">
            <video ng-if="post.video_url" preload="auto" ng-src="{{ post.video_url | trustedResourceUrl }}"
                   controls  style="width: 100%; height: 195px">
              <source ng-src="{{ post.video_url | trustedResourceUrl }}" type="video/mp4"/>
            </video><!--poster="img/video_placeholder.jpg"-->

          </div>
        </div>



        <!--if no share happened-->
        <div ng-hide="post.sharer" class="pad-top-5">
          <div class=" black pad-bottom-10 font-size-13 reg-font" ui-sref="home.kickoff.selected({ id : post.$id})">{{post.post_content || ''}}</div>
          <div ui-sref="home.kickoff.selected({ id : post.$id})" class="img-parent"
            ng-style="{ 'height': hasImageHeight(post) }"   style="background-image: url('{{ post.image_url }}');
            background-size: cover; background-position: 0 0; background-repeat: no-repeat;">
            <div class="text-center img-spinner hide" ng-if="post.image_url">
              <ion-spinner class="spinner-purple text-center" style="padding-top: 40px"></ion-spinner>
            </div>
            <img ng-if="post.image_url" image-lazy-src="{{ post.image_url }}" image-loader=""
                 image-lazy-distance-from-bottom-to-load="100"
                 style="width: 100%; height: 1px; margin-left: 2000px ">
            <!--<video ng-if="post.video_url" poster="img/video_placeholder.jpg" controls ng-src="{{ post.video_url | trustedResourceUrl }}" style="width: 100%; height: 195px"></video>-->
            <video ng-if="post.video_url" preload="auto" ng-src="{{ post.video_url | trustedResourceUrl }}"
                   controls  style="width: 100%; height: 195px">
              <source ng-src="{{ post.video_url | trustedResourceUrl }}" type="video/mp4"/>
            </video><!--poster="img/video_placeholder.jpg"-->

          </div>

        </div>

        <div class="row pad-top-5 reg-font">
          <div class="col like-row reg-font"> <i class="ion-thumbsup ion rounded-like-button" ng-class="{'purple-bg' : post.likers[$localStorage.user.ID].liked == true}"></i> {{ post.likeCount || '' }}</div>
          <div class="col col-75 text-right action-totals reg-font" ui-sref="home.kickoff.selected({ id : post.$id})">
            <span ng-show="post.commentCount">{{post.commentCount || '' }} Comment<span ng-show="post.commentCount > 1">s</span></span> &nbsp;<span ng-show="post.shareCount">{{ post.shareCount || ''}} Share<span ng-show="post.shareCount > 1">s</span></span></div>
          <!--<div class="col col-75 text-right action-totals reg-font" ui-sref="home.kickoff.selected({ id : post.$id})">{{post.commentCount || '' }} Comments  {{ post.shareCount || ''}} Shares</div>-->
        </div>

        <p class="row" style="padding : 2px 0 0 0; border-top: 1px solid #d3d6db;">
          <span like-kick-off-post="post"></span>

          <span class="button  col action-row-buttons reg-font text-center no-border-active" ui-sref="home.kickoff.selected({ id : post.$id, scroll : 'toComment'})">
        <i class="icon ion-chatbox"></i>&nbsp;Comment</span>

          <span class="button  col action-row-buttons reg-font text-center no-border-active" ng-click="openPopover($event,post)">
        <i class="icon ion-android-share" ></i>&nbsp;Share</span>
        </p>


      </div>

    </div>

    <div class="item text-center padding" style="margin-top: 200px" ng-if="kick_off_posts.length" ng-hide="(kick_off_posts | filter : models.searchTerm).length">
      <h2>No more articles found that match the search term  <br> " <b class="positive">{{ models.searchTerm }}</b> "</h2>
    </div>

    <!--<div class="item text-center padding" style="margin-top: 200px" ng-hide="kick_off_posts.length">-->
    <!--<h2>Be the first to post on the KO feed</h2>-->
    <!--</div>-->


    <!--ng-if="models.more_posts_available  && !(models.isShowing)"-->
    <ion-infinite-scroll
      on-infinite="loadMore()"
      distance="50%">
    </ion-infinite-scroll>

  </ion-content>
</ion-view>
