<ion-modal-view>
  <ion-header-bar class="bar-purple">


  <div class="buttons">
      <button class="button white" ng-click="closeModal()">Cancel</button>
    </div>
    <h1 class="title white">Select Place</h1>
  </ion-header-bar>

  <div class="bar bar-subheader item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon white"></i>
      <input type="search" ng-model="models.searchTerm" placeholder="Type to start searching">
    </label>
  </div>

  <ion-content overflow-scroll="false" class="whats-on-your-mind-modal has-subheader">

    <div class="list" style="">

      <div class="row" ng-show="models.loading">
        <div class="col col-center">
          <div  class="text-center">
            <ion-spinner class="spinner-purple text-center"></ion-spinner>
          </div>
        </div>
      </div>

      <a href="" ng-click="venueTapped(venue)"
         ng-hide="models.loading" class="item item-icon-left" ng-repeat="venue in venues" style="padding: 5px 5px 5px 52px">
        <i class="icon ion-ios-location assertive"></i>
        <h2>{{ venue.name }}</h2>
        <p>{{ venue.location.formattedAddress[0] }}</p>
      </a>

      <a href="" ng-show="!models.loading && (!venues.length)" class="item item-icon-left" style="padding: 5px 5px 5px 52px">
        <h2>Type to search your location</h2>
        <!--<p>{{ venue.location.formattedAddress[0] }}</p>-->
      </a>


    </div>

  </ion-content>
</ion-modal-view>
