<ion-view hide-back-button="false" cache-view="false" can-swipe-back="true">

  <ion-nav-buttons side="primary" ng-if="showmFeedButton">
    <button ng-show="showmFeedButton" class="button white" ng-click="showMfeed()">
      <i class="icon ion-ios-arrow-back"></i> mFeed
    </button>
  </ion-nav-buttons>

  <ion-content class="kickoff" >




    <div class="list">
      <div class="item item-thumbnail-left item-text-wrap">
        <img err-src="http://a2.mzstatic.com/us/r30/Purple69/v4/dc/55/d1/dc55d1e8-57a0-3b50-25cb-68de23ad2c74/icon350x350.png" ng-src="{{selected_post.owner.userImageLink || 'http://a2.mzstatic.com/us/r30/Purple69/v4/dc/55/d1/dc55d1e8-57a0-3b50-25cb-68de23ad2c74/icon350x350.png'}}" name="{{ (selected_post.owner.firstName || 'MW Culture Team') + ' ' + selected_post.owner.lastName }}" profile-image="{{ selected_post.owner.userImageLink || 'http://a2.mzstatic.com/us/r30/Purple69/v4/dc/55/d1/dc55d1e8-57a0-3b50-25cb-68de23ad2c74/icon350x350.png'}}">

        <h2 class="pad-left-35 reg-font" show-employee-profile="" email="{{ selected_post.owner.email }}" >{{ (selected_post.owner.firstName || 'MW Culture Team') + ' ' + selected_post.owner.lastName }}</h2>

        <p class="pad-left-35 reg-font" am-time-ago="{{selected_post.dateCreated}}">1hr ago</p>

        <div class="pad-top-15 font-size-13 reg-font black pad-bottom-10">{{selected_post.post_content}}</div>

        <img ng-if="selected_post.image_url" zoom-src="{{ selected_post.image_url}}" zoom-view=""  ng-src="{{ selected_post.image_url}}" style="width: 100%; height: 300px">

        <video ng-if="selected_post.video_url" preload="auto" ng-src="{{  selected_post.video_url | trustedResourceUrl }}"
               controls  style="width: 100%; height: 195px">
          <source ng-src="{{  selected_post.video_url | trustedResourceUrl }}" type="video/mp4"/>
        </video><!--poster="img/video_placeholder.jpg"-->


        <div class="row pad-top-5">
          <div class="col like-row" ng-show="selected_post.likeCount"> <i class="ion-thumbsup ion rounded-like-button" ng-class="{'purple-bg' : selected_post.likers[$localStorage.user.ID].liked == true}"></i> {{selected_post.likeCount || '' }}</div>
          <div class="col col-75 text-right action-totals reg-font">
            <span ng-show="selected_post.commentCount > 0">{{selected_post.commentCount || '' }} Comment<span ng-show="selected_post.commentCount > 1">s</span></span>
            <span ng-show="selected_post.shareCount > 0">{{selected_post.shareCount || ''}}  Share<span ng-show="selected_post.shareCount > 1">s</span></span>
          </div>
        </div>

        <p class="row" style="padding : 2px 0 0 0; border-top: 1px solid #d3d6db;">
          <span like-kick-off-post="selected_post"></span>

          <span class="button reg-font col action-row-buttons text-center no-border-active" ng-click="scrolltoLastComment()">
        <i class="icon ion-chatbox"></i>&nbsp;Comment</span>

          <span class="button reg-font col action-row-buttons text-center no-border-active" ng-click="openPopover($event, selected_post )">
        <i class="icon ion-android-share" ></i>&nbsp;Share</span>
        </p>


      </div>
    </div>

    <p ng-if="peopleWhoLikedPost.length > 0" class="pad-left-20 h4 font-size-13 reg-font">
      {{ peopleWhoLikedPost[0].firstName || peopleWhoLikedPost[0].name || peopleWhoLikedPost[0].email || peopleWhoLikedPost[0].user_email}} <span ng-show="peopleWhoLikedPost[0].lastName">{{ peopleWhoLikedPost[0].lastName}}</span>


      <span class="reg-font" ng-if="peopleWhoLikedPost.length > 2"> and {{ peopleWhoLikedPost.length -1 }} others</span>
      <span class="reg-font" ng-if="peopleWhoLikedPost.length == 2"> and {{ peopleWhoLikedPost[1].firstName || peopleWhoLikedPost[1].name  || peopleWhoLikedPost[1].email || peopleWhoLikedPost[1].user_email}}</span> <span ng-show="peopleWhoLikedPost[0].lastName">{{ peopleWhoLikedPost[0].lastName }}</span>
      like<span class="reg-font" ng-if="peopleWhoLikedPost.length == 1">s</span> this post
    </p>

    <div class="reg-font">

      <div ng-show="loadingComments" class="text-center">
        <ion-spinner class="spinner-positive text-center"></ion-spinner>
      </div>

      <div ng-if="post_comments.length" class="list" ng-hide="loadingComments">

        <div class="item  item-thumbnail-left item-text-wrap comment_list"  ng-repeat="comment in post_comments" style="margin-top: 1px">

          <img err-src="http://a2.mzstatic.com/us/r30/Purple69/v4/dc/55/d1/dc55d1e8-57a0-3b50-25cb-68de23ad2c74/icon350x350.png" ng-src="{{comment.owner.userImageLink || 'http://a2.mzstatic.com/us/r30/Purple69/v4/dc/55/d1/dc55d1e8-57a0-3b50-25cb-68de23ad2c74/icon350x350.png'}}" name="{{ (comment.owner.firstName || 'MW Culture Team') + ' ' + comment.owner.lastName }}" profile-image="{{ comment.owner.userImageLink || 'http://a2.mzstatic.com/us/r30/Purple69/v4/dc/55/d1/dc55d1e8-57a0-3b50-25cb-68de23ad2c74/icon350x350.png'}}">

          <h2 class="reg-font pad-left-35 pad-top-10" show-employee-profile="" email="{{ comment.owner.email  }}">{{ (comment.owner.firstName || 'MW Culture Team') + " " + comment.owner.lastName }}</h2>
          <div class="pad-left-35 reg-font black item-text-wrap" emojify-comment="">{{comment.comment}}</div>
          <p class="pad-left-35 reg-font" am-time-ago="{{comment.dateCreated}}">1hr ago</p>

        </div>
      </div>
    </div>


    <h5 class=" text-center" ng-if="!(post_comments.length)" ng-hide="loadingComments">
      <span class="padding reg-font white">No comments under this post. Be the first!</span>
    </h5>


    <br>
  </ion-content>
  <ion-footer-bar keyboard-attach align-title="left" class="bar-white footerbar">
    <!--<input type="text" >-->
    <input type="text"  class="reg-font input-in-footer" placeholder="Write a comment..."
           ng-model="model.comment"
           at-in-comment=""
           people-in-mentions="peopleInMentions"
           at-push-ids="atPushIds"/><!--autogrow max-lines="3"-->
    <button class="pull-right button no-border" ng-class="{'purple bold-font' : model.comment.length > 0}" style="min-height: 27px; line-height: 27px; top: 0; bottom: 0; font-size: 15px" ng-click="postComment()" ng-disabled="model.comment.length < 1">
      <!--<i class="icon ion-android-send"></i> -->
      <span ng-hide="postingComment">Post</span>
      <span ng-show="postingComment"><ion-spinner class="spinner-purple"></ion-spinner></span>
    </button>
  </ion-footer-bar>
</ion-view>
