<ion-modal-view>
  <ion-header-bar>

    <div class="buttons">
      <button class="button" ng-click="closeModal()">Cancel</button>
    </div>
    <h1 class="title">Share Post</h1>
    <div class="buttons">
      <button class="button" ng-disabled="model.shared_post_content.length < 1" ng-hide="posting" ng-click="postToServer()"><!---->
        Share
      </button>
      <button class="button" ng-disabled="true" ng-show="posting">
        <ion-spinner></ion-spinner>
      </button>

    </div>


  </ion-header-bar>


  <ion-content class="whats-on-your-mind-modal" overflow-scroll="false">
    <div class="item item-thumbnail-left item-text-wrap profile-image">
      <img err-src="http://a2.mzstatic.com/us/r30/Purple69/v4/dc/55/d1/dc55d1e8-57a0-3b50-25cb-68de23ad2c74/icon350x350.png" ng-src="{{ $localStorage.user.data.userImageLink }}" style="max-width: 40px; height: auto !important;">

      <h2 class="pad-left-60">{{ ($localStorage.user.data.firstName || 'MW Culture Team') + ' ' + ($localStorage.user.data.lastName)}}</h2>
    </div>

    <textarea  placeholder="What's on your mind?" ng-model="model.shared_post_content" rows="6" style="width: 100%; padding: 10px; font-size: 21px; height: 300px" at-in-comment=""
         people-in-mentions="peopleInMentions"
         at-push-ids="atPushIds"></textarea>

    <div class="list" style="">
      <div class="item " ng-class="{'item-thumbnail-left' : sharedPost.image_url}">
        <img ng-show="sharedPost.image_url" ng-src="{{ sharedPost.image_url }}" style="max-width: 40px; height: auto !important;">
        <video controls ngf-src="sharedPost.video_url" ng-show="sharedPost.video_url" style="width: 40px; height: 40px"></video>

        <h2>{{ sharedPost.post_content | limitTo : 30 }} <span ng-show="sharedPost.post_content.length > 300">...</span></h2>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
