<style>
  .popover { height:121px; }
  .popover .item {padding: 10px}
</style>
<ion-popover-view>
  <ion-content id="todayPage">

    <ion-list>
      <ion-item  class="text-center" ng-click="shareDirectly()">
        <h2><a  class="text-center">Share Directly</a></h2>
      </ion-item>

      <ion-item  class="text-center" ng-click="writeAndShare()" >
        <h2><a  class="text-center" share-post="tapped_post">Write and Share</a></h2>
      </ion-item>

      <!--<ion-item href="" class="text-center" ng-click="changeSalesAreaShowing('APAC')">-->
        <!--<h2><a  class="text-center">APAC</a></h2>-->
      <!--</ion-item>-->
      <!---->
      <!--<ion-item href=""  class="text-center" ng-click="changeSalesAreaShowing('EMEA')">-->
        <!--<h2><a class="text-center">EMEA</a></h2>-->
      <!--</ion-item>-->

    </ion-list>
  </ion-content>
</ion-popover-view>
