<ion-modal-view>
  <style>
    .cropArea {
      background: #E4E4E4;
      overflow: hidden;
      width:100%;
      height:300px;
    }
    .reduced_button{
      line-height: 25px;
      min-height: 30px;
    }
  </style>
  <ion-header-bar class="bar-purple">


  <div class="buttons">
      <button class="button white" ng-click="closeWhatsOnYourMindModal()">Cancel</button>
    </div>
    <h1 class="title white">
      <span ng-hide="cropPicture" class="white">Update Status</span>
      <span ng-show="cropPicture" class="white">Crop Image</span>
    </h1>
    <div class="buttons">
      <button class="button white" ng-disabled="!(model.post_content.length > 0 || venueSet || data.file || data.video )" ng-hide="posting" ng-click="postToServer()"><!---->
        Post
      </button>
      <button class="button" ng-disabled="true" ng-show="posting">
        <ion-spinner></ion-spinner>
      </button>
    </div>


  </ion-header-bar>


  <ion-content class="whats-on-your-mind-modal" overflow-scroll="false" >

    <div ng-hide="cropPicture">
      <div class="item item-thumbnail-left item-text-wrap profile-image">
        <img err-src="http://a2.mzstatic.com/us/r30/Purple69/v4/dc/55/d1/dc55d1e8-57a0-3b50-25cb-68de23ad2c74/icon350x350.png" ng-src="{{ $localStorage.user.data.userImageLink || 'http://a2.mzstatic.com/us/r30/Purple69/v4/dc/55/d1/dc55d1e8-57a0-3b50-25cb-68de23ad2c74/icon350x350.png'}}" style="max-width: 40px; height: auto !important;">
        <h2 class="pad-left-60" style="line-height: 24px">{{ ($localStorage.user.data.firstName || 'MW Culture Team') + ' ' + ($localStorage.user.data.lastName )}}</h2>
        <p class="pad-left-60" ng-show="venueSet" load-check-in-venues="venueSet" id="menutag">checked in to {{ venueSet.name }}</p>
      </div>


      <textarea  placeholder="What's on your mind?" ng-model="model.post_content" rows="6"
                 style="width: 100%; padding: 10px; font-size: 21px; height: 260px"
                 at-in-woym=""
                 people-in-mentions="peopleInMentions"
                 at-push-ids="atPushIds">
      </textarea>


      <div style="">
      </div>

    </div>


    <div ng-show="cropPicture">

      <div class="cropArea">

        <div class="row " ng-hide="todayData.companyAtAGlance">
          <div class="col">
            <div  class="text-center">
              <button class="button reduced_button" ng-click="saveCroppedImage()">Save</button>
            </div>
          </div>
          <div class="col">
            <div  class="text-center">
              <button class="button reduced_button" ng-click="cancelImageCropping()">Cancel</button>
            </div>
          </div>
        </div>
        <img-crop image="image.originalImage" result-image="image.croppedImage" area-type="square"
                  result-image-quality="0.5" result-image-size="300"></img-crop>
        <!--
         [change-on-fly="{boolean}"]
         [area-type="{circle|square}"]
         [area-min-size="{number}"]
         [result-image-size="{number}"]
         [result-image-format="{string}"]
         [result-image-quality="{number}"]
         [on-change="{expression}"]
         [on-load-begin="{expression"]
         [on-load-done="{expression"]
         [on-load-error="{expression"]
        -->
      </div>
      <div class="">
        <div class="row ">
          <div  class="text-center">Cropped Image:</div>
        </div>
        <div class="row">
          <img class="text-center" ng-src="{{image.croppedImage}}" />
        </div>

      </div>
    </div>
  </ion-content>



  <ion-footer-bar keyboard-attach align-title="left" class="show-on-keyboard-opens footerbar"><!--bar-white-->
    <div class="list " style="width: 100%">
      <!--<div class="item item-icon-left" ng-click="selectImageFromGallery()">-->
      <!--<i class="icon ion-image balanced"></i>-->
      <!--Select existing photo-->
      <!--</div>-->

      <!--<div class="item item-icon-left" ng-click="openCameraOrGallery()">-->
      <!--<i class="icon ion-image balanced"></i>-->
      <!--Snap a new photo-->
      <!--</div>-->
      <div class="item item-icon-left " ngf-select ng-model="data.file" name="file" ngf-pattern="'image/*'"
           ngf-accept="'image/*'" ngf-max-size="3MB" ngf-change="upload($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)"
           ngf-resize="{width: 500}">
        <i class="icon ion-image balanced"></i>
        Photo
        <span ng-show="data.file" style="position: absolute; right: 30px; top: 5px;">
         <img  ngf-thumbnail="data.file" style="width:45px">
        </span>
      </div>


      <div class="item item-icon-left" ngf-select ng-model="data.video" name="video" ngf-pattern="'video/*'"
           ngf-accept="'video/*'" ngf-max-size="20MB">
        <i class="icon ion-videocamera assertive"></i>
        Video
        <div class="" ng-show="data.video">
          <video controls ngf-src="data.video" style="width: 100%; height: 150px"></video>
        </div>
      </div>


      <div class="item item-icon-left" load-check-in-venues="venueSet">
        <i class="icon ion-ios-location royal"></i>
        Check In
      </div>
    </div>

    <div class="row item top-row-buttons reg-font " ng-click="hideKeyBoard()">
      <span class="button col-40 top-three-row reg-font text-center no-border-active">
        Add to your post</span>

      <span class="button col top-three-row reg-font text-center no-border-active"  ngf-select ng-model="data.file" name="file" ngf-pattern="'image/*'"
            ngf-accept="'image/*'" ngf-max-size="3MB" ngf-change="upload($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)"
            ngf-resize="{width: 500}">
        <i class="icon ion-image balanced " ></i></span>


      <span class="button col reg-font top-three-row text-center no-border-active"  ngf-select ng-model="data.video" name="video" ngf-pattern="'video/*'"
            ngf-accept="'video/*'" ngf-max-size="20MB">
        <i class="icon ion-videocamera assertive"></i></span>


      <span class="button col top-three-row reg-font text-center no-border-active" load-check-in-venues="venueSet">
        <i class="icon ion-ios-location royal"></i></span>
    </div>
  </ion-footer-bar>
</ion-modal-view>

