/* Empty. Add your own CSS if you like */
body, a, span, h1, h2, h3, h4, h5, h6, em, p, div, section, pre, input{
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
/*body, a:not(.reg-font), span:not(.reg-font), h1:not(.reg-font), h2:not(.reg-font), h3:not(.reg-font), h4:not(.reg-font), h5:not(.reg-font), h6:not(.reg-font), em:not(.reg-font), p:not(.reg-font), div:not(.reg-font), section:not(.reg-font), pre:not(.reg-font){
  font-family: mwFont, Calibri, sans-serif !important;
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}*/

.reg-font{
  /*font-family: "-apple-system", "Helvetica Neue", Roboto, "Segoe UI", sans-serif !important;*/
}

.brown-font{
  font-family: mwFont, Calibri, sans-serif !important;
}

a:focus, a:active {
  color: #b627a1 !important;
  text-decoration: none !important;
  /*background: #eaeaea !important;*/
}
a:hover{
  text-decoration: none !important;
}

.article-title{
  font-size: 23px !important;
  font-weight: bolder !important;
}

.article-title-slider{
  font-size: 22px;
  line-height: 29px;
}
.uppercase{
  text-transform: uppercase;
}
.thin-font{
  font-weight: 100;
}

.light-font{
  font-weight: 300 !important;
  font-style: normal;
}

.bold-font{
  font-weight: 700 !important;
}

.text-center{
  text-align: center !important;
  margin: 0 auto !important;
}

.white{
  color : white !important;
}

.grey{
  color : #999;
}
.text-positive, .positive{
  color: #28bbbb !important;
}
.text-grey{
  color: #4c4d4f !important;
}
.text-positive-dark, .positive-dark{
  color: #196767 !important;
}
.text-assertive, .assertive{
  color: #ff6221 !important;
}
.text-energized, .energized{
  color: #ff6221 !important;
}
.text-purple, .purple{
  color: #b627a1 !important;
}

.purple-bg, .badge-purple{
  background-color: #b627a1 !important;
  color: #fff;
}

.grey-bg{
  background-color: #949494 !important;
  /*color: #fff;*/
}

.purple-border{
  border-color: #b627a1 !important;
}
.button.button-energized {
  border-color: transparent;
  background-color: #b627a1;
  color: #fff;
}

.mw-yellow-bg{
  background-color: #fff2db;
}

.mw-black{color: #4c4d4f;}

.mw-yellow{color: #ffbc45;}

.mw-teal{color: #00ca9b;}

.auto-height{
  height: auto;
}

.mini-font{
  font-size: 15px !important;
}

.tab-nav.tabs span.tab-title{
  font-weight: 700 !important;
}

.backdrop {
  top: 44px;
  height: 84%;
}

.menu-header{
  font-size: 19px;
}

.slider_img{
  width: 100%;
  height: 222px;
}

.slider {
  margin-bottom: -7px;
}

.dark-bg, .item.item-dark{
  /*background-color: #4c4d4f;*/
  background-color: rgba(76, 77, 79, 0.05);
}

.col-center {
  padding-top: 20%;
}

.row-no-flex{
  display: inline;
  padding: 5px;
  width: 100%;
}
.item .item-content.activated {
  border-color: #ccc;
  background-color: transparent;
}


.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 15px;
  transition: 0.09s all linear;
  background-color: rgba(119, 118, 118, 0.50);
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.clone{
  width: 210px;
  height: 210px;
  position: absolute;
  top: 5px;
  left: -40px;
  border-radius: 225px;
  -webkit-box-reflect: none;
  filter: saturate(100%);
  opacity: 1;
}

.swiper-slide img {
  width: auto;
  height: 100%;
  max-width: 55%;
  /* max-height: 100%; */
}

.border-radius-40 {
  border-radius: 40px;
}

.font-size-11 {
  font-size: 13px !important;
}

.font-size-13 {
  font-size: 15px !important;
}

.badge.badge-special{
  z-index: 1044;
  position: absolute;
  left: 80px;
  top: 30px;
}
.item .badge.badge-left{
  left: 75px;
  right: inherit;
}



.date-circle {
  border-radius: 100px;
  position: relative;
  font-size: 215%;
  line-height: 117%;
  display: block;
  float: left;
  margin: 0 22px 0 10px;
  width: 60px;
  height: 60px;
  border: 1px solid rgba(0,0,0,.1);
  z-index: 1;
  padding-top: 16px;
  text-align: center;
  overflow: hidden;
  color: rgba(255,255,255,.8);
  background-color: #2d353f
}

.date-circle .month {
  text-transform: uppercase;
  font-size: 40%;
  position: absolute;
  top: 5px;
  right: 0;
  left: 0;
  letter-spacing: -1px;
  color: rgba(255,255,255,.8);
  line-height: 110%;
}

.date-square {
  position: relative;
  font-size: 170%;
  line-height: 117%;
  display: block;
  height: 116px;
  border: 1px solid rgba(0,0,0,.1);
  z-index: 1;
  padding-top: 16px;
  text-align: center;
  overflow: hidden;
  color: rgba(255,255,255,.8);
  background-color: #2d353f;
}
.date-square .month {
  text-transform: uppercase;
  font-size: 80%;
  position: absolute;
  top: 30%;
  right: 0;
  left: 0;
  letter-spacing: -1px;
  color: rgba(255,255,255,.8);
  line-height: 110%;
}

.item-input.item-border-rounded {
  border-radius: 10px;
}

.mui-textfield>input, .mui-textfield>textarea{
  color: white !important;
  border-bottom: 1px solid #949494 !important;
}

.mui-textfield>input:focus, .mui-textfield>textarea:focus{
  border-color: #4c4d4f !important;
}
.post_content{
  /*white-space: pre-line;*/
  /*font-size: 17px;*/
}
.post_content img:not(.wp-smiley):not(.alignnone){
  width: 90%;
  height: auto;
  margin:  5px auto;
  display: block;
}
.post_content .wp-caption-text em{
  text-align: center;
  display: block;
}

/*.post_content strong em{*/
/*text-align: inherit;*/
/*display: inline;*/
/*}*/

.post_content img.wp-smiley{
  width: 15px;;
}

.list-inset .item:first-child {
  border-bottom: 0 transparent !important;
  margin-top: 4px;
}

.list-inset .item:last-child {
  border-top: 0 transparent;
}
.like .spinner svg {
  width: 15px;
  height: 12px;
}

.wpulike{
  display: none;
}

.emojione{
  width: 18px
}
/*[collection-repeat] {*/
/*left: 0 !important;*/
/*top: 0 !important;*/
/*position: relative !important;*/
/*z-index: 999999999;*/
/*}*/

.inline-child-ps p{
  display: inline;
}

.iframeParent{
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.iframeParent iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*textarea {*/
  /*resize: none;*/
  /*box-sizing: content-box;*/
/*}*/

.text-selectable{
  -webkit-user-select: auto
}

.item-complex .item-content{
  padding: 10px !important;
}

.atwho-view{
  overflow-y: scroll;
}

.no-padding{
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}



/* Menu
==================================*/
.menu .bar.bar-header.expanded {
  transition: all .5s ease-in-out;
}

.menu-open .bar.bar-header.expanded {
  background-color: #222;
}


.hero > .content{
  /*bottom: 20px;*/
  /*position: absolute;*/
  /*left : 100px;*/
  text-align: center;
  padding: 10px;
}

.bar-dark .button {
  border-color: transparent !important;
}

.bar.bar-teal {
  border-color: #28bbbb;
  background-color: #28bbbb;
  /*background-image: linear-gradient(0deg, #111, #111 50%, transparent 50%);*/
  color: #fff;
}

.bar.bar-purple {
  border-color: #b627a1;
  background-color: #b627a1;
  /* background-image: linear-gradient(0deg, #111, #111 50%, transparent 50%); */
  color: #fff;
}

.bar .title + .button:last-child, .bar > .button + .button:last-child, .bar > .button.pull-right, .bar .buttons.pull-right, .bar .title + .buttons {
  top: 8px;
}

div.title.title-center.header-item, .bar .title{
left : 0 !important;
  right: 0 !important;
}

.button {
  border-color: transparent;
  background-color: transparent;
}

.back-text .default-title{
  font-size: 15px;
}

.button-clear.button-clear{
  color: inherit !important;
}

.item.sale_color_white {
  border-color: #fff;
  /*background-color: #fff;*/
  /*color: #444;*/
  /*position: relative;*/
  /*z-index: 2;*/
  /*display: block;*/
  /*margin: -1px;*/
  /*padding: 16px;*/
  border-bottom-color: #b627a1;
  border-width: 3px;
  border-style: solid;
}

/*.item-avatar.today-item > div:nth-child(1) {*/
/*position: absolute;*/
/*top: 5px;*/
/*left: 16px;*/
/*!*max-width: 40px;*!*/
/*!*max-height: 40px;*!*/
/*!*height: 100%;*!*/
/*width: 40px;*/
/*}*/

.item-avatar.today-item > div img {
  max-width: 50px;
  max-height: 50px;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.item-avatar.today-item > div img.profile_pic {
  max-width: 50px;
  max-height: 50px;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  margin: 2px auto;
  display: block;
}

.item-avatar.today-item > div img.sale_mark {
  max-width: 20px;
  max-height: 20px;
  width: 100%;
  margin: 3px auto;
  display: block;
  text-align: center;
  height: 100%;
  border-radius: 0;
}

.item.sale_color {
  background-color: #ffffff;
  border-radius: 2px;
  margin: 10px 5px 5px;
}
.item.sale_color:first-of-type {
  margin: 0 5px 5px;
}

.item-avatar > img.sale_mark{
  /*position: absolute;*/
  max-width: 20px;
  max-height: 20px;
  /*left: 26px;*/
  /*width: 100%;*/
  /*height: 100%;*/
}

.item-avatar > img.helmet{
  top: 60px;
  /*right: 50px;*/
}
.item-avatar > img.star{
  top: 85px;
}
.item-avatar > img.collab{
  top: 105px;
}



.today-section-header {
  padding-bottom: 20px;
  padding-top: 0;
  font-size: 20px;
  margin-top: -50px;
}

.item-divider.today-section-header{
  height: 23px;
  /*display: table-cell;*/
  /*width: 100%;*/
  vertical-align: middle;
  min-height: 23px;
  line-height: 23px;
}
.item-divider.selected_sale{
  height: 23px;
  /*display: table-cell;*/
  /*width: 100%;*/
  vertical-align: middle;
  min-height: 23px;
  line-height: 23px !important;
}

.at-a-glance{
  /*background-color: #fff2db;*/
  height: 43px;
  color: #4d4d4d;
}

.at-a-glance h2{
  margin: auto 0;
  padding-top: 7%;
  padding-bottom: 0;
  line-height: 15px;
  font-weight: bold;
  font-size: 29px;
}
.at-a-glance small{
  /*font-weight: bold;*/
}

.no-border-active{
  border: none transparent;
  background-color: transparent;
}

.no-border-active:active, .no-border-active:focus, .no-border-active.active, .no-border-active.activated{
  border: none;
  background-color: transparent;
  color: #b627a1;
}

.item.active, .item.activated, .item-complex.active .item-content, .item-complex.activated .item-content, .item .item-content.active, .item .item-content.activated {
  border-color: transparent !important;
  background-color: white !important;
}

.button.button-purple {
  border-color: transparent;
  background-color: #b627a1;
  color: #fff;
}

.list.offices .item.item-bg-image {
  max-height: 150px;
  height: 135px;
}
.list.offices .item{
  padding: 0 !important;
}

.list.offices .card h2{
  /*color: #ffffff !important;*/
  font-size: 23px;
  z-index: 20;
  padding: 20px 16px 0px 16px;
}
.list.offices .card p{
  /*color: #ffffff !important;*/
  z-index: 20;
  padding: 0px 16px 5px 16px;
}

.list.offices  .card{
  margin: 1px 1px;
}

.card img {
  position: absolute;
  top: 0;
  max-width: 500px;
  z-index: -10;
}

.hero.has-mask-reverse:after, .item.has-mask-reverse:after, .card.has-mask-reverse:after{
  z-index: -1 !important;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%,  rgba(0, 0, 0, 0.05) 60%) !important;
}

.areaShowButtons .col.button{
  min-height: 15px !important;
  line-height: 15px !important;
}

.hero .light.officeName{
  background-color: rgba(0, 0, 0, 0.50);
  margin: 0 !important;
}

.title_logo{
  height: 20px;
  max-width: 70%;
  margin-top: 1px
}

a.tab-item-active:focus, a.tab-item-active:hover, a.tab-item-active:active, a.tab-item-active.active {
  /*color: #ffffff !important;*/
  color: #b627a1 !important;
}
.tab-item {
  color: #f0d4ec;
  /*opacity: 0.5;*/
}

.tab-item.tab-item-active, .tab-item.active, .tab-item.activated{
  color: #b627a1 !important;
}

.bar-positive .button.active, .bar-positive .button.activated {
  border-color: #b627a1 !important;
  background-color: #b627a1;
}

.tabs-positive > .tabs, .tabs.tabs-positive {
  /*border-color: #28bbbb !important;*/
  /*background-color: #28bbbb;*/
  background-color: #fff;
  /*background-image: linear-gradient(0deg, #28bbbb, #28bbbb 50%, transparent 50%) !important;*/
  background-image: linear-gradient(0deg, #fff, #fff 50%, transparent 50%) !important;
  /*color: #fff;*/
  color: #b627a1;
  box-shadow: inset 0 3px 5px -3px #4f4f4f;
  border-top: 1px solid #f4f4f4 !important;

}



.popover{
  height: 225px;
}

#todayPage .popover{
  width : 190px;
  height : 190px;
}

#todayPage .popover .item{
  padding:  12px;
  text-align: center;
  margin: 0 auto;
}

.notifications_list .item-divider{
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 13px;
}

.notifications_list .item{
  padding: 5px;
}

.button.disabled, .button[disabled]{
  opacity: .35;
  /*color: #ebebeb;*/
}

input.input-in-footer {
  background-color: rgb(240,240,240);
  width: 85%;
  padding-left: 10px;
  /*height: 40px;*/
  /*line-height: 30px;*/
  margin: auto 0;
  border-radius: 5px;
  font-size: 15px;
}


/******
Kickoff Styling
*********/

.kickoff .item.top-row-buttons {
  padding: 0 0 0 0;
}

.kickoff .item.top-row-buttons .col{
  padding: 0;
}
.kickoff .item.top-row-buttons .button{
  min-height: 0;
}

.whats-on-your-mind{
  /*border-bottom: 5px solid #ddd;*/
  height: 44px;
  min-height: 44px;
}

.whats-on-your-mind h2{
  margin-top: 4px;
  font-size: 15px;
  color: #515151;;
}

.kickoff .item-thumbnail-left.whats-on-your-mind{
  padding-top: 0;
  min-height: 44px;
}

.kickoff .item-thumbnail-left{
  min-height: 63px;
}

.kickoff .item-thumbnail-left, .kickoff .item-thumbnail-left .item-content {
  padding-top: 2px;
  padding-left: 15px;
  min-height: 100px;
  border-top: 5px solid #ddd;
  /*border-bottom: 5px solid #ddd;*/
}

.kickoff .pad-left-10{}
.kickoff .pad-left-15{}
.kickoff .pad-left-30{
  padding-bottom: 30px;
}
.kickoff .pad-left-20{
  padding-left: 20px;
}
.kickoff .pad-left-40{
  padding-left: 40px;
}
.kickoff .pad-left-35{
  padding-left: 35px !important;
}
.kickoff .pad-left-45{
  padding-left: 45px !important;
}
.kickoff .pad-left-55{
  padding-left: 55px !important;
}


.kickoff .pad-top-5{
  padding-top: 5px;
}
.kickoff .pad-top-10{
  padding-top: 10px;
}
.kickoff .pad-top-15{
  padding-top: 15px;
}
.kickoff .pad-bottom-10{
  padding-bottom: 10px;
}

.kickoff .black{
  color: black !important;
}

.kickoff .action-totals{
  color: #6e6e6e !important;
  font-size: 11px;
  line-height: 16px;
}

.kickoff .like-row{
  color: #4e4e4e !important;
  font-size: 14px;
}

.rounded-like-button{
  border-radius: 15px;
  background-color: #949494;
  color: #ffffff;
  padding: 1px 3px;
  font-size: 13px;
}

.top-three-row{
  font-weight: bold;
  font-size: 13px;
}

.kickoff .item-thumbnail-left > img:first-child, .kickoff .item-thumbnail-left .item-image, .kickoff .item-thumbnail-left .item-content > img:first-child, .kickoff .item-thumbnail-left .item-content .item-image, .kickoff .share_div > img:first-child {
  position: absolute;
  top: 9.5px;
  left: 10px;
  max-width: 50px;
  max-height: 50px;
  width: 30px;
  height: auto;
}
.kickoff .share_div{
  margin-top: 5px;
}
.kickoff .share_div > img:first-child {
  position: absolute;
  top: 10px;
  left: 15px;
  max-width: 45px;
  max-height: 45px;
  width: 30px;
  height: auto;
}

.kickoff .item {
  padding: 14px 15px 1px 15px;
}

.kickoff .item p {
  font-size: 13px;
}

.kickoff .item h2 {
  margin: -5px 0 0 0;
  font-size: 15px;
  font-weight: bold;
  line-height: 16px;
}

.kickoff .item h2 .light {
  font-weight: 400 !important;
  color: #000;
}

.kickoff .action-row-buttons{
  color: #8D9094;
  font-weight: bold;
}

.kickoff .action-row-buttons:active, .kickoff .action-row-buttons:focus, .kickoff .action-row-buttons.active, .kickoff .action-row-buttons.activated{
  border: none;
  background-color: transparent;
  color: #b627a1;
}


.kickoff .button.action-row-buttons{
  font-size: 11px;
}

.kickoff .button .icon:before,
.kickoff .button .icon-left:before,
.kickoff .button .icon-right:before{
  font-size: 18px;
  padding: 0 5px 1px 0;
}

.kickoff .top-row-buttons .col.no-border-active:after{
  /* content: "|"; */
  /* color: #c0c0c0; */
  content: "";
  /* color: black; */
  border-right: 1px solid #c0c0c0;
  font-size: 10px;
  left: 0;
  height: 20px;
  margin-top: 15px;
  right: 0;
}

.kickoff .top-row-buttons .col.no-border-active:last-child:after {
  border:none;
}

.kickoff .comment_list.item-thumbnail-left {
  padding-top: 2px;
  padding-left: 15px;
  min-height: 68px;
  border-top: 1px solid #ddd;
  /* border-bottom: 5px solid #ddd; */
}

.bar-footer {
  height: 50px;
}

.bar.bar-white.bar-footer {
  background-image: linear-gradient(180deg, #fff, #fff 50%, transparent 50%);
  border-top: 1px solid;
  border-bottom: 1px solid;
}


.bar.bar-white {
  border-color: #ebebeb;
  background-color: #fff;
  background-image: linear-gradient(0deg, #fff, #fff 50%, transparent 50%);
  color: #ebebeb;
}

.whats-on-your-mind-modal .item-thumbnail-left, .whats-on-your-mind-modal .item-thumbnail-left .item-content {
  padding-top: 8px;
  padding-left: 60px;
  min-height: 60px;
}

.whats-on-your-mind-modal .profile-image.item{
  border: none;
}

.whats-on-your-mind-modal .item-icon-left .icon, .whats-on-your-mind-modal .item-icon-right .icon{
  font-size: 21px;
}

.zoom-view.modal ion-content{
  background-color: black;
}

.zoom-view.modal ion-content img{
  padding: 90px 10px !important;
}

.loader-inner > div{
  background: #28bbbb !important;
}

.spinner.spinner-purple, .spinner-purple {
  stroke: #b627a1;
  fill: #b627a1;
}

.spinner-ios, .spinner-ios-small {
  stroke: #b627a1;
}
.spinner {
  stroke: #b627a1;
  fill: #b627a1;
}

.mfeed-icon{
  content: url('https://mlifeapp.co/img/logo-icon-purple.jpg'); !important;
  max-width: 32px;
}

.mfeed-icon-light{
  opacity: 0.5;
  content: url('https://mlifeapp.co/img/logo-icon-purple.jpg'); !important;
  max-width: 32px;
}

.show-on-keyboard-open{
  display: none;
  height : 0 !important;
  z-index: -99999999;
  background-color: transparent;
}

.hide-on-keyboard-open{
  display: block;
}

.keyboard-open .hide-on-keyboard-open{
  display: none;
}

.keyboard-open .show-on-keyboard-open{
  display:block;
  height : 50px !important;

}
